<footer class="footer-mobile">
    <div class="follow-us-icons">
        <a href="http://weibo.com/tuchong"><img src="https://static.tuchong.net/images/weibo-gray-32.png" alt="图虫微博"></a>
        <a href="https://tuchong.com/info/aboutus/"><img src="https://static.tuchong.net/images/weixin-gray-32.png" alt="图虫微信"></a>
        <a href="https://tuchong.com/app/"><img src="https://static.tuchong.net/images/apple-gray-32.png" alt="图虫ios应用"></a>
        <a href="https://tuchong.com/app/"><img src="https://static.tuchong.net/images/android-gray-32.png" alt="图虫安卓应用"></a>
    </div>
    <div class="copy-right">
        <p>©2015 tuchong.com</p>
    </div>
    <div class="version-switch">
        <a href="javascript:;" class="switch-layout" data-version="mobile">移动版</a>
        <a href="javascript:;" class="switch-layout" data-version="pc">电脑版</a>
    </div>
</footer>
