<div class="sharelist">
    <h3>分享到</h3>
    <div class="fx-list">
        <a href="">微信</a>
        <a href="">朋友圈</a>
        <a href="">微博</a>
        <a href="">黑名单</a>
        <a href="">举报</a>
    </div>
    <div>取消</div>
</div>
