<div class="sharelist">
    <h3>分享到</h3>
    <div class="fx-list">
        <a href=""><i class="fa fa-weixin" aria-hidden="true"></i>微信</a>
        <a href=""><i class="fa fa-chrome" aria-hidden="true"></i>朋友圈</a>
        <a href=""><i class="fa fa-weibo" aria-hidden="true"></i>微博</a>
        <a href=""><i class="fa fa-user-times" aria-hidden="true"></i>黑名单</a>
        <a href=""><i class="fa fa-hand-paper-o" aria-hidden="true"></i>举报</a>
    </div>
    <div class="cancel">取消</div>
</div>
