<footer id="footer">
    <div class="pull-left">
        <span>©2015 oldku.com</span>
        <span>沪ICP备12005590-5</span>
        <a href="https://tuchong.com/info/terms/" rel="nofollow">用户协议</a>
        <a href="https://tuchong.com/info/copyright/" rel="nofollow">版权政策</a>
        <a href="https://tuchong.com/info/links/" rel="internal">友情链接</a>
        <a href="javascript:;" class="switch-layout" data-version="mobile">移动版</a>
        <a href="javascript:;" class="switch-layout" data-version="pc">电脑版</a>
    </div>
    <div class="pull-right">
        <a href="https://exif.cn/" title="图虫EXIF信息在线查看器" class="highlight">EXIF查看器</a>
        <a href="https://tuchong.com/help/" rel="nofollow">帮助</a>
        <a href="https://tuchong.com/info/aboutus/" rel="nofollow">关于</a>
        <a href="https://tuchong.com/info/contactus/" rel="nofollow">联系</a>
        <a href="https://tuchong.com/info/service/" rel="nofollow">服务</a>
        <a href="https://tuchong.com/job/" rel="nofollow">加入我们</a>
        <a href="https://tuchong.com/app/" rel="nofollow">下载图虫客户端</a>
        <span class="follow-icons">
			<span>关注图虫:&nbsp;</span>
			<a href="http://weibo.com/tuchong" target="_blank" rel="nofollow" title="图虫摄影网@新浪微博"
         class="icon-sns-small icon-weibo">图虫摄影网@新浪微博</a>
			<a href="https://tuchong.com/info/aboutus/" target="_blank" rel="nofollow" title="图虫摄影网@腾讯微博"
         class="icon-sns-small icon-weixin">图虫网@微信公众号</a>
		</span>
    </div>
</footer>


{{#eq user null}}
    <div class="widget-dialog" id="login-dialog">
        <div class="dialog-wrapper" style="width: 380px;">

            <h2 class="dialog-title">登录</h2>

            <div class="dialog-body">
                <form id="login-form" action="/admin/login" method="post" class="login-form" onsubmit="return false;">
                    <div class="login-group">
                        <label for="login-account">账号</label>
                        <input type="text" name="account" id="login-account" autofocus="" required=""
                               placeholder="邮箱、手机、用户名">
                    </div>
                    <div class="login-group">
                        <label for="login-password">密码</label>
                        <input type="password" name="password" id="login-password" required="">
                    </div>
                    <div class="login-group login-captcha">
                        <label for="login-password">验证码</label>
                        <img class="captcha-img" src="">
                        <input type="text" name="capthca_token" captcha-id="" id="captcha-token">
                    </div>
                    <p class="login-msg"></p>
                    <div class="login-line">
                        <input type="checkbox" name="remember" id="login-remember" checked="checked">
                        <label for="login-remember">下次自动登录</label>
                        <a href="/account/forget/" target="_blank">忘记密码</a>
                        <button class="login-btn" type="submit">登录</button>
                    </div>
                    <div class="login-connect">
                        <span>无需注册，用社交帐号登录：</span>
                        <a href="/weibo/auth/" class="login-weibo"></a>
                        <a href="/weixin/auth/" class="login-weixin"></a>
                        <a href="/qq/auth/" class="login-qq"></a>
                    </div>
                </form>
            </div>
            <a class="dialog-close" href="javascript:void(0)"></a>
        </div>
    </div>
    {{#extend "script"}}
        <script src="/components/jquery-validation/dist/jquery.validate.min.js"></script>
        <script>
            $(function () {
                //弹出登录框
                $('.login-trigger').click(function () {
                    $('#login-dialog').css('display', 'block');
                })
                //关闭弹出框
                $('.dialog-close').click(function () {
                    $('#login-dialog').css('display', 'none');
                })

                $('.login-btn').click(function () {
                    var parma = $('.login-form').serialize();
                    console.log(parma);

                })
            })
        </script>
        <script>
            //登录
            $(function () {
                $("#login-form").validate({
                    rules: {
                        account: {
                            required: true,
                            minlength: 5
                        },
                        password: {
                            minlength: 5,
                            required: true
                        }
                    },
                    messages: {
                        account: "格式不正确 请用 邮箱、手机、用户名 登录",
                        password: "密码不能为空"
                    },
                    submitHandler: function (form) {
                      var params=$('.form').serialize()
                        console.log(params)
                        return true;
                    },


                });

            })
        </script>
    {{/extend}}

    <style>
        .login-form .login-group label.error {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            text-align: center;
            font-weight: normal;
            color: #ff6600;
        }
    </style>

{{/eq}}
