<nav class="secondary-nav">
    <ul class="nav-list" style="width: 1000px; margin: 0px auto;">
        <li {{#eq route "动态"}}class="active" {{/eq}}><a href="/">动态</a></li>
        <li {{#eq route "recommend"}}class="active" {{/eq}}class="has-news"><a href="/recommend/">推荐</a></li>
        <li {{#eq route "关注"}}class="active" {{/eq}}><a href="/following/">关注</a></li>
        <li {{#eq route "人像"}}class="active" {{/eq}}><a href="/tags/人像/">人像</a></li>
        <li {{#eq route "人文"}}class="active" {{/eq}}><a href="/tags/人文/">人文</a></li>
        <li {{#eq route "风光"}}class="active" {{/eq}}><a href="/tags/风光/">风光</a></li>
        <li {{#eq route "纪实"}}class="active" {{/eq}}><a href="/tags/纪实/">纪实</a></li>
        <li {{#eq route "静物"}}class="active" {{/eq}}><a href="/tags/静物/">静物</a></li>
        <li {{#eq route "旅行"}}class="active" {{/eq}}><a href="/tags/旅行/">旅行</a></li>
    </ul>
</nav>
