{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}



<<div class="container container-default">

    <h1>友情链接</h1>
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>合作伙伴</h2>
            <table class="links">
                <tbody><tr>
                    <td><a href="http://fotomen.cn/" target="_blank" rel="co-worker" title="摄影之友">摄影之友</a></td>
                    <td><a href="http://www.fotoforce.cn/" target="_blank" rel="co-worker" title="影想力">影想力</a></td>
                    <td><a href="http://www.rayartcenter.org/" target="_blank" rel="co-worker" title="瑞象馆">瑞象馆</a></td>
                    <td><a href="http://1416.me/" target="_blank" rel="co-worker" title="1416教室">1416教室</a></td>
                    <td><a href="http://www.gettyimages.cn/" target="_blank" rel="co-worker" title="华盖创意">华盖创意</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.photowoo.com/" target="_blank" rel="co-worker" title="佳能感动典藏">佳能感动典藏</a></td>
                    <td><a href="http://www.padmag.cn/" target="_blank" rel="co-worker" title="PADMAG">PADMAG视觉杂志</a></td>
                    <td><a href="http://digi.163.com/dc/" target="_blank">网易数码影像</a></td>
                    <td><a href="http://www.zm7.cn/" target="_blank" rel="co-worker" title="卓美网">卓美网</a></td>
                    <td><a href="http://www.rayi.cn/" target="_blank" rel="co-worker" title="锐意网">锐意网</a></td>
                </tr>
                <tr>
                    <td><a href="http://yuedu.163.com/" target="_blank" rel="co-worker" title="网易阅读">网易阅读</a></td>
                    <td><a href="http://www.shanzhuoboshi.com/" target="_blank" rel="co-worker" title="在这里，你将学会摄影布光">闪卓博识</a></td>
                    <td><a href="http://yasp.cn/" target="_blank" rel="co-worker" title="北大青年摄影学会">北大青年摄影学会</a></td>
                    <td><a href="http://www.jingnei.net/" target="_blank" rel="co-worker" title="京内网, 北京摄影社区">北京摄影社区</a></td>
                    <td><a href="http://diggfoto.com/" target="_blank" rel="co-worker" title="FOTO!">FOTO!</a></td>
                </tr>
                </tbody></table>
        </section>
        <section class="with-bg inner">
            <h2>友情链接</h2>
            <table class="links">
                <tbody><tr>
                    <td><a href="http://duoshuo.com/" target="_blank" rel="co-worker" title="多说网">多说网</a></td>
                    <td><a href="http://www.meifuzhi.com/" target="_blank" rel="co-worker" title="美肤志，你的美肤专家">美肤志</a></td>
                    <td><a href="http://48fans.com/" target="_blank" rel="co-worker" title="AKB48">AKB48资源索引</a></td>
                    <td><a href="http://www.xiachufang.com/" target="_blank" rel="co-worker" title="下厨房">下厨房</a></td>
                    <td><a href="http://lengxiaohua.net/" target="_blank" rel="co-worker" title="冷笑话">冷笑话</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.cnpentax.com/" target="_blank">CNPENTAX</a></td>
                    <td><a href="http://www.blanca.com.cn/" target="_blank">布兰卡网</a></td>
                    <td><a href="http://www.haozhaopian.com/" target="_blank">好照片</a></td>
                    <td><a href="http://www.xiangqu.com/" target="_blank" rel="co-worker" title="发现分享设计师商品">想去网</a></td>
                    <td><a href="http://www.hoolay.cn/" target="_blank" title="艺术可以胡来">胡来网</a></td>
                </tr>
                </tbody></table>
        </section>
        <section class="with-bg inner">
            <h2>偶酷在别处</h2>
            <table class="links">
                <tbody><tr>
                    <td><a href="http://weibo.com/tuchong" rel="nofollow" target="_blank">偶酷@新浪微博</a></td>
                    <td><a href="http://weibo.com/exifviewer" rel="nofollow" target="_blank">EXIF@新浪微博</a></td>
                    <td><a href="http://q.weibo.com/176794" rel="nofollow" target="_blank">偶酷新浪微群</a></td>
                    <td><a href="http://t.qq.com/wwwtuchong" rel="nofollow" target="_blank">偶酷@腾讯微博</a></td>
                    <td><a href="http://t.163.com/tuchong" rel="nofollow" target="_blank">偶酷@网易微博</a></td>
                </tr>
                <tr>
                    <td><a href="http://page.renren.com/tuchong" rel="nofollow" target="_blank">人人网偶酷公共主页</a></td>
                    <td><a href="http://site.douban.com/tuchong" rel="nofollow" target="_blank">偶酷豆瓣小站</a></td>
                    <td><a href="http://fanfou.com/tuchong" rel="nofollow" target="_blank">偶酷@饭否</a></td>
                    <td><a href="http://twitter.com/tuchong" rel="nofollow" target="_blank">偶酷@twitter</a></td>
                </tr>
                </tbody></table>
        </section>
    </main>
</div>

