{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}

{{>pc_settings_top}}

<div class="container container-default">

    <main role="main" class="col-main col-xs-12">
        <p>你还没有绑定新浪微博，<a href="https://tuchong.com/weibo/auth/?action=bind">点此绑定</a></p>
    </main>
</div>
