{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="/m/personal">后退</a>
    {{title}}
</div>
<div class="main">
    <a href="/m/personalset">账号管理</a>
    <a href="">分享给微信好友</a>
    <a href="">达人申请</a>
    <a href="">黑名单 </a>
   <h2></h2>
    <a href="">意见反馈</a>
    <a href="">用户协议</a>
    <a href="">去评分</a>
    <a href="">关于</a>
  <h2></h2>
    <a href="">推送消息</a>
    <h2></h2>
    <a href="">清理 <span>9.2MB</span></a>
    <a href="">退出当前账号</a>
</div>


{{#extend "script"}}
{{/extend}}
