{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="/m/personal">后退</a>
    {{title}}
</div>
<div class="main">
    <a href="">达人</a>
    <a href="">新人</a>
    <a href="">微博</a>
    <a href="">附近</a>
</div>


{{#extend "script"}}
{{/extend}}
