{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
    <style type="text/css">
        #site-header {
            background: #000 url(https://static.tuchong.net/images/site-bg-1.jpg) no-repeat center 0;
            background-size: cover;
        }
        .m-site-header {
            background: #000 url(https://static.tuchong.net/images/site-bg-1.jpg) no-repeat center 0;
            background-size: cover;
        }
    </style>
{{/extend}}
{{#extend 'bodyAttr'}}
    class="space-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_personal_top}}

<div class="container container-default">
    <main role="main" class="col-main col-xs-12">
        <p class="tip text-gray-placeholder">子一824还没有收藏夹。</p>
    </main>
</div>
