{{#extend "style"}}
    <link href="/mobile/css/all.css" rel="stylesheet">
    <link href="/mobile/css/narrow.css" rel="stylesheet">
    <style type="text/css">
        #site-header {
            background: #000 url(https://static.tuchong.net/images/site-bg-1.jpg) no-repeat center 0;
            background-size: cover;
        }
        .m-site-header {
            background: #000 url(https://static.tuchong.net/images/site-bg-1.jpg) no-repeat center 0;
            background-size: cover;
        }
    </style>
{{/extend}}
{{#extend 'bodyAttr'}}
    class="space-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}


{{>pc_personal_top}}

<div class="container container-fluid">

    <main role="main">

        <div class="time-line" data-site-id="1551288">
            <div class="time-node active">
                <div class="node-point"></div>
                <div class="node-tips" data-toggle="filterPost" data-year="2016" data-month="9">
                    <a href="https://tuchong.com/1551288/posts/2016-09/">2016.9</a>
                    <div class="arrow-down"></div>
                </div>
            </div>
            <div class="time-table-trigger direction-caret"></div>
            <div class="time-table">
                <div class="table-row">
                    <div class="year">2016</div>
                    <ul class="months">
                        <li class="month active" data-toggle="filterPost" data-year="2016" data-month="9"><a href="https://tuchong.com/1551288/posts/2016-09/">9月</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-collages" data-site-id="1551288" data-type="sitePosts" data-is-mobile="true">
            <div class="post-row" style="min-height: 0px;">
                <div class="post-collage" data-type="multi-photo" data-post-id="13524769" data-published-at="2016-09-21 14:16:49" data-width="2500" data-height="1875">
                    <a href="https://tuchong.com/1551288/13524769/" class=" theatre-view" data-site-id="1551288" data-location="content" target="_blank">
                        <figure class="main-collage">
                            <img src="https://photo.tuchong.com/1551288/ft640/8602479.webp" alt="">
                        </figure>
                        <div class="sub-collage">
                        </div>
                    </a>
                    <div class="caption">
                        <h3>
                            <a data-site-id="1551288" data-location="title" class="theatre-view" href="https://tuchong.com/1551288/13524769/" title="厦门风景">厦门风景</a>
                        </h3>


                    </div>
                </div>
                <div class="load-finish">没有更多了</div></div>
            <div class="post-load-bar finish">
                <div class="loading-animation">
                    <img src="//static.tuchong.net/images/loading-base.gif" alt="loading-gif"> 正在加载，请稍候
                </div>
                <button class="btn btn-default btn-lg btn-block btn-posts-load-more">加载更多</button>
            </div>
        </div>
    </main>
</div>
