{{#extend "style"}}
    <link href="/mobile/css/personal.css" rel="stylesheet">
{{/extend}}
<div class="header">
    <a class="fa fa-user-plus" aria-hidden="true" href="/m/addfriend"></a>
    {{title}}
    <a class="setting glyphicon glyphicon-share"></a>
    <a href="/m/acountset" class="setting glyphicon glyphicon-cog"></a>

</div>

<div class="main">
    <div class="main-head">
        <a class="header-pic" href="/m/personalset"><img src="/mobile/images/personal/headerpic.png" alt="头像"/></a>

        <p>名称 <i class="fa fa-mars" aria-hidden="true"></i></p>
        <div class="tongji">
            <span>照片2</span>
            <span>粉丝1</span>
            <span>关注5</span>
        </div>
    </div>
    <div class="liulan">
        <i class="fa fa-th active" aria-hidden="true"></i>
        <i class="fa fa-bars" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <div class="list">
        {{>three_column}}
    </div>
</div>
{{>shareList}}

{{#extend "script"}}
{{/extend}}
