{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="">加好友</a>
    {{title}}
    <a class="setting">设置按钮</a>
</div>
{{>layout_m_footer}}

{{#extend "script"}}
{{/extend}}