{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="/m/addfriend">加好友</a>
    {{title}}
    <a href="/m/acountset" class="setting">设置按钮</a>
    <a class="setting">享享按钮</a>
</div>
<div class="main">
    <div class="main-head">
        <a href="/m/personalset"><img src="" alt="头像"/></a>

        <p>名称 <span>男</span></p>
        <div class="tongji">
            <span>照片2</span>
            <span>粉丝1</span>
            <span>关注5</span>
        </div>
    </div>
    <div class="liulan">
        <span class="threeclunt">三列按钮</span>
        <span class="oneclunt">一列按钮</span>
        <span class="like-btn">喜欢按钮</span>
    </div>
    <div class="list">
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
        <a href=""><img src="" alt="图片"/></a>
    </div>
</div>
{{>layout_m_footer}}
{{>shareList}}

{{#extend "script"}}
{{/extend}}
