{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="/m/personal">后退</a>
    {{title}}
</div>
<div class="main">
    <a href="">头像 <img src="" alt=""/></a>
    <a href="">用户名 <span>子一</span></a>
    <a href="">签名 </a>
    <a href="">性别 <span>男</span></a>
   <h2>账号绑定</h2>
    <a href="">手机号</a>
    <a href="">邮箱</a>
    <a href="">注册账号 <span>子一</span></a>
    <a href="">设置密码</a>
</div>


{{#extend "script"}}
{{/extend}}
