{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="/m/browser">后退</a>
    {{title}}
</div>
<div class="main">
    <a href="">你</a>
    <a href="">动态</a>
    <a href="">私信</a>
</div>
{{>layout_m_footer}}

{{#extend "script"}}
{{/extend}}