{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">{{title}}</div>
<div class="main">
    <h2 class="prior">往期活动</h2>
    <div class="prior-list">
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
        <a href="">  <img src="" alt="往期活动图片"/>  </a>
    </div>
</div>
{{>layout_m_footer}}

{{#extend "script"}}
{{/extend}}