{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header"><a href="/m/activity">后退</a>{{title}}<a href="">分享按钮</a></div>
<div class="main">
    <img src="" alt="活动图"/>
    <h2>感觉光美丽，发布你的光影大作 <span>16年06月15日-16年07月15日</span></h2>
    <p>
        内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1
    </p>
    <p>
        内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1
    </p>
    <span>但看全部</span>

    <div class="tab">
        <span>最新</span>
        <span>最热</span>
        <span>日佳</span>
        <span>周佳</span>
    </div>
    <div class="list">
        {{>three_column}}
    </div>

</div>

{{#extend "script"}}
{{/extend}}