{{#extend "style"}}
    <link href="/mobile/css/activity.css" rel="stylesheet">
{{/extend}}
<div class="header"><a class="glyphicon  glyphicon-chevron-left" href="/m/activity"></a>{{title}}<a
        class="glyphicon glyphicon-share"></a></div>
<div class="main">
    <img src="/mobile/images/activity/1.png" alt=""/>

    <div class="detail">
        <h2>感觉光美丽，发布你的光影大作 <span>16年06月15日-16年07月15日</span></h2>
        <p>
            摄影的灵魂就是光，英文"photograhy”最初源于希腊文，字面意思是“用光来写书”。有一光，然后就有了影子，黑暗场景中的一束亮光总是引人注目。
        </p>

        <p>
            你能遇见过哪些迷人的光影？夏日斑驳的树影，闪烁的霓虹灯，挪威最梦幻的极光，落地窗纱间的柔和光线。拍下光影的美 好，来偶酷分享你的大作吗!!
            <br>
            <br>
            【活动标签】：光影<br>
            【征稿时间】：6月15日-7月15日<br>

        </p>
    </div>
    <div class="tab">
        <span class="active">最新</span>
        <span>最热</span>
        <span>日佳</span>
        <span>周佳</span>
    </div>
    <div class="list">
        {{>three_column}}
    </div>

</div>

{{#extend "script"}}
{{/extend}}