{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <span>后退</span>
    <span>相机胶卷</span>
    <span>下一步</span>
</div>
<div class="selected-img"></div>
<div class="img-list">
    <h2 class="upanddown-btn">上下按钮</h2>
    <div class="list">
    <span>拍照按钮</span>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    <img src="" alt="相机图片"/>
    </div>
</div>
{{>layout_m_footer}}

{{#extend "script"}}
{{/extend}}