{{#extend "style"}}
    <link href="/mobile/css/all.css" rel="stylesheet">
    <link href="/mobile/css/narrow.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p has-subnav"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_notes_top}}

<div class="container container-default">
    <main role="main" class="col-main">
        <section class="with-bg">
            <p class="text-gray-placeholder">别人回复你或者你的图博收到评论时，这里会有提示。</p>
        </section>
    </main>
    <aside id="side" class="col-side">
    </aside>
</div>
