{{#extend "style"}}
    <link href="/mobile/css/all.css" rel="stylesheet">
    <link href="/mobile/css/narrow.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p has-subnav"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_notes_top}}
<div class="container container-default">
    <h1>我被分享的图博</h1>
    <main role="main" class="col-main">
        <section class="with-bg">
            <ul class="notification-list">
            </ul>
            <div class="pagebar"></div>
        </section>
    </main>
    <aside id="side" class="col-side">
    </aside>
</div>
