{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="/m/discovery">后退</a>

    {{title}}
</div>
<div class="main">
    <div class="sign">相关标签:
        <a href="">手机摄影</a>
        <a href="">iphone</a>
        <a href="">手机</a>
        <a href="">iphone6</a>
        <a href="">手机拍摄</a>
        <a href="">手机摄影</a>
    </div>
    <div class="tab">
        <span class="active">最新</span>
        <span>最热</span>
    </div>
    <div class="category">
        {{>three_column}}
    </div>
</div>


{{#extend "script"}}
{{/extend}}