{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="">搜索</a>

    <div class="tab">
        <span class="active">关注</span>
        <span>精选</span>
    </div>
    <span>通知</span>
</div>


{{>layout_m_footer}}

{{#extend "script"}}
{{/extend}}