{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="">搜索</a>

    {{title}}
</div>
<div class="main">
    <div class="tui-user">
        <h2>推荐用户 <a>全部</a></h2>
        <div class="tui-user-list">
            <div class="user-item">
                <span class="close">关闭</span>
                <img src="" alt="头像"/>
                <p>名字</p>
                <p>你可能感兴趣的人</p>
                <span class="guanzhu-btn">关注按钮</span>
            </div>
            <div class="user-item">
                <span class="close">关闭</span>
                <img src="" alt="头像"/>
                <p>名字</p>
                <p>你可能感兴趣的人</p>
                <span class="guanzhu-btn">关注按钮</span>
            </div>
            <div class="user-item">
                <span class="close">关闭</span>
                <img src="" alt="头像"/>
                <p>名字</p>
                <p>你可能感兴趣的人</p>
                <span class="guanzhu-btn">关注按钮</span>
            </div>
        </div>
    </div>
    <div class="zhuti">
        <h2>主题</h2>
        <div class="zhuti-list">
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>手机摄影</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>风光</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>纪实</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>人像</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>摄影</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>城市</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>黑白</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>生活方式</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>静物</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>建筑</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>美食</h3>
            </a>
            <a href="">
                <img src="" alt="主题封面"/>
                <h3>未分类</h3>
            </a>
           </div>
    </div>
    <div class="editer-tuijian">
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
        <a href=""><img src="" alt="编辑推荐"/></a>
    </div>
</div>

{{>layout_m_footer}}

{{#extend "script"}}
{{/extend}}