{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="/m/discovery">后退</a>

    {{title}}
</div>
<div class="main">

{{>imageDetail}}
    <div class="form">
        <input placeholder="添加评论" type="text"/><button>发送</button>
    </div>
</div>


{{#extend "script"}}
{{/extend}}