{{#extend "style"}}
    <link href="/mobile/css/app.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}



<main>
    <div class="container">
        <div class="content" style="height: 667px;">
            <img class="download-iphone" src="//static.tuchong.net/images/mobile/app/iphone_bea3290.png">
            <a class="enter-home" href="{{host}}">进入网页</a>
            <a class="download-btn" data-android="{{host}}/rest/android/download" data-qqapp="http://a.app.qq.com/o/simple.jsp?pkgname=com.ss.android.tuchong" data-referer="" href="https://itunes.apple.com/cn/app/tu-chong-zui-hao-she-ying/id1073064739?l=en&amp;mt=8">立即下载</a>
        </div>
    </div>
</main>
