{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}


<div class="container container-default">

    <h1>关于我们</h1>
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>偶酷网是由一群资深的摄影发烧友创建，为所有的摄影爱好者提供最专业的图片社区服务</h2>
            <h2>我们为您提供最方便的个人图片管理，和图片搜索功能</h2>

            <p>在这里你可以拥有一个充分展示自己个性和优秀作品的图片博客，将你的作品与朋友分享，我们强烈支持大图片上传，并为您提供最便捷的上传方式，当然也会保护您的版权;</p>
            <p>图片在上传到自己的博客上时也可以选择同时上传到组群中，避免重复的劳动;</p>
            <p>你或者你的朋友可以为图片添加各种标签，以便于日后的搜索和分类;</p>
            <p>你可以按时间顺序浏览所有的图片，方便你的寻找.</p>
            <p>偶酷 WEB2.0，可以让人以希望的任何方式轻松的在个人之间取得相片。</p>
        </section>

        <section class="with-bg inner">
            <h2>我们为摄影爱好者之间的交流提供最便捷的渠道</h2>

            <p>如果你需要更多的专业摄影技术的指导，那么这里无疑是一个绝佳的平台，每一个人都可以对设置成为共享的图片进行点评；</p>
            <p>你可以建立自己的组群，在群内和朋友交流，我们将保证您的私人分享的安全性;</p>
            <p>你也可以将新朋友加为你的好友，结识在天南海北的与你有着共同的追求的朋友们.</p>
        </section>

        <section class="with-bg inner">
            <h2>偶酷微信公众号</h2>
            <img class="img-responsive" style="margin:0 auto;" src="https://static.tuchong.net/images/weixin_official_8cm.jpg" alt="偶酷微信公众号">
        </section>
    </main>
</div>

