{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}



<div class="container container-default">

    <h1>联系我们</h1>
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>在线留言</h2>
            <br>
            <p>欢迎您到偶酷讨论区的“<a href="https://tuchong.tuchong.com/">偶酷智囊</a>”版块留下宝贵的意见和建议。</p>
            <p>您也可以通过站内短信与我们的管理员联系：<a class="site-anchor" title="偶酷小秘书" rel="author" href="https://webmaster.tuchong.com/" data-site-id="1" target="_blank">偶酷小秘书</a>，小秘书将以最快的速度回答您的疑问。</p>
        </section>
        <section class="with-bg inner">
            <h2>邮件联络</h2>
            <br>
            <dl class="text-dl">
                <dt>商务合作</dt>
                <dd>caojia (At) bytedance.com</dd>
            </dl>
        </section>
        <section class="with-bg inner">
            <h2>你也可以在这里关注偶酷的内容</h2>
            <br>
            <dl class="text-dl">
                <dt>新浪微博</dt>
                <dd><a href="https://weibo.com/tuchong" rel="nofollow" target="_blank">https://weibo.com/tuchong</a></dd>
                <dt>头条号：偶酷摄影网</dt>
                <dd><a href="http://toutiao.com/m4472559325/" rel="nofollow" target="_blank">http://toutiao.com/m4472559325/</a></dd>
                <dt>知乎专栏：摄影书房</dt>
                <dd><a href="https://zhuanlan.zhihu.com/seatory" rel="nofollow" target="_blank">https://zhuanlan.zhihu.com/seatory</a></dd>
                <dt>知乎专栏：读立</dt>
                <dd><a href="https://zhuanlan.zhihu.com/indiefoto" rel="nofollow" target="_blank">https://zhuanlan.zhihu.com/indiefoto</a></dd>
                <dt>微信公众平台：偶酷网（id：oldkucom）</dt>
                <dd><img class="wechat-qrcode" src="//static.tuchong.net/images/weixin_official_8cm.jpg" alt="偶酷微信公众号"></dd>
            </dl>
        </section>
        <section class="with-bg inner">
            <h2>线下联络</h2>
            <br>
            <dl class="text-dl">
                <dt>通信地址</dt>
                <dd>福建省福州市</dd>
                <dt>邮编</dt>
                <dd>3500000</dd>
                <dt>电话</dt>
                <dd>010-00000000</dd>
            </dl>
        </section>
    </main></div>

