{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}



<div class="container container-default">

    <h1>版权保护</h1>
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>偶酷是什么？</h2>
            <p>
                　　偶酷构建的是一个图像处理和交流的平台，给所有的摄影爱好者一片交流的天空，同时帮助他们体验、挖掘自己都没有认识到的价值，让那一瞬间的影像在所有人的手中绽放光华。
            </p>
            <h2>偶酷提供什么服务？</h2>
            <ul>
                <li>上传照片：保留原图，永久存储；</li>
                <li>管理照片：方便实用的照片组织和管理工具；</li>
                <li>分享照片：多种个性化模板可供选用，多种可以贴在博客的个性照片标识，炫不够！</li>
                <li>支持外链：支持所有博客、论坛的外部引用，多种格式，自由外链；</li>
                <li>个人域名：属于您自己的独有相册网址；</li>
                <li>手机访问：手机上传、浏览、评论，爽无尽！</li>
            </ul>
            　<p>............</p>
            <h2>在偶酷可以干什么？</h2>
            <p>
                　　建立个人相册：邀请家人朋友一起，形成自己的小圈子，看只属于您们的照片，聊只属于您们的话题；<br>
                　　创建在线影展：分类组织和呈现您的作品，同其他摄影爱好者一起交流经验，分享心得；<br>
                　　开通图片博客：用照片记录生活，讲述您的故事。
            </p>
            <h2>偶酷不可以干什么？</h2>
            <p>　　偶酷不是论坛，不要期望您的照片被很多人追捧；但偶酷的确是一个社区，善于经营您的朋友圈子会让您更受欢迎。</p>
            <p>　　偶酷不是贴图区，您上传的图片被期望是原创作品，限制级图片在这里不受欢迎。</p>
            <h2>偶酷用户群？</h2>
            <p>　　所有用照相机进行创作的摄影爱好者都是这里最受欢迎的用户。</p>
            <h2>如何支持偶酷？</h2>
            <p>　　我们最需要您真诚的建议和意见，一起让偶酷变得更好用。如果您喜欢这里，请与您所有的朋友分享。</p>
        </section>
    </main>
</div>
