{{#extend "style"}}
    <link href="/pc/css/welcome.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}} class="body-loaded" {{/extend}}
{{#extend 'headClass'}} fixed-top {{/extend}}

{{#extend "script"}}

{{/extend}}

<div class="container">
    <section class="welcome-cover" id="welcome-cover" style="background-image: url(&quot;https://s1.tuchong.com/welcome-image/large/21127243.jpg&quot;);">
        <div class="cover-wrapper">
            <h1 class="cover-slogan">最好的摄影师都在这</h1>
            <a href="/signup" class="cover-enter">马上加入</a>
            <div class="cover-qrcode"><a class="qrcode-image" href="/app"></a></div>
            <a href="https://appsto.re/cn/JSA9_.i" class="link-ios"></a>
            <a href="https://tuchong.com/rest/android/download" class="link-android"></a>
        </div>
        <a class="cover-author" href="https://tuchong.com/469243/13539604/" target="_blank">By: @李波斯基</a>
    </section>
    <section class="content">
        <section class="hot-posts">
            <h2>已经有超过百万的摄影爱好者入驻了图虫······</h2>
            <p>在这里，发现基于共同兴趣的同好；鼓励原创和分享精神；除了美好的摄影和技能，我们更在意影像背后价值观的认同。</p>
            <ul class="posts-list"><!-- 不输出最后一行 -->


                <li class="post-row" style="height: 345px;">


                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/1325480/ft640/28339039.webp" style="width: 460px;height: 345px;margin-left: 0;" href="https://tuchong.com/1325480/13519884/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">偷窥银河SOHO</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/132/1325480/logo_small.jpg?2">
                            <span class="post-author-name">咖啡泡面</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/1364738/ft640/13060701.webp" style="width: 259px;height: 345px;margin-left: 10;" href="https://tuchong.com/1364738/13534182/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">寂静的池塘</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/136/1364738/logo_small.jpg?4">
                            <span class="post-author-name">戈戈oO</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/438396/ft640/17250253.webp" style="width: 461px;height: 345px;margin-left: 10;" href="https://tuchong.com/438396/13525766/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">晨光</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/438/438396/logo_small.jpg?2">
                            <span class="post-author-name">光影武士-MNM</span>
                        </div>
                    </a>

                </li>



                <li class="post-row" style="height: 295px;">


                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/69068/ft640/29770557.webp" style="width: 393px;height: 295px;margin-left: 0;" href="https://huangyuan.tuchong.com/13529752/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">中国尊视角</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/069/69068/logo_small.jpg?18">
                            <span class="post-author-name">黄渊</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/417973/ft640/13984206.webp" style="width: 393px;height: 295px;margin-left: 10;" href="https://lanwillren.tuchong.com/13513920/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">雾中的双子大厦</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/417/417973/logo_small.jpg?5">
                            <span class="post-author-name">lanwill</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/1542359/ft640/17456289.webp" style="width: 394px;height: 295px;margin-left: 10;" href="https://tuchong.com/1542359/13538228/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">禾木</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/154/1542359/logo_small.jpg?1">
                            <span class="post-author-name">冰枫888</span>
                        </div>
                    </a>

                </li>



                <li class="post-row" style="height: 345px;">


                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/319737/ft640/18563242.webp" style="width: 460px;height: 345px;margin-left: 0;" href="https://tyuchen.tuchong.com/13540057/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">长沙证件照</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/319/319737/logo_small.jpg?10">
                            <span class="post-author-name">羽尘VISION</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/474445/ft640/20465318.webp" style="width: 259px;height: 345px;margin-left: 10;" href="https://tuchong.com/474445/13513462/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">九寨归来不看水</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/474/474445/logo_small.jpg?1">
                            <span class="post-author-name">schrodinger</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/473052/ft640/28058827.webp" style="width: 461px;height: 345px;margin-left: 10;" href="https://smilehair.tuchong.com/13531172/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">梦的角落--幻彩太平角合辑</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/473/473052/logo_small.jpg?3">
                            <span class="post-author-name">smilehair</span>
                        </div>
                    </a>

                </li>



                <li class="post-row" style="height: 295px;">


                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/305717/ft640/18636606.webp" style="width: 393px;height: 295px;margin-left: 0;" href="https://kingtxt.tuchong.com/13538586/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">暴雨后的卢浮宫</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/305/305717/logo_small.jpg?4">
                            <span class="post-author-name">金小仙</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/1121196/ft640/8081694.webp" style="width: 393px;height: 295px;margin-left: 10;" href="https://tuchong.com/1121196/13540229/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">黄山红霞</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/112/1121196/logo_small.jpg?1">
                            <span class="post-author-name">嘎嘎乐</span>
                        </div>
                    </a>

                    <a class="post-cover lazy-load" data-lazy-url="https://photo.tuchong.com/1314657/ft640/30357582.webp" style="width: 394px;height: 295px;margin-left: 10;" href="https://jumping1991.tuchong.com/13538931/" target="_blank">
                        <div class="post-mask">
                            <h3 class="post-title">HolidayWishesFireworks in HK Victoria Harbor 2016</h3>
                            <img class="post-author-icon" src="https://s1.tuchong.com/sites/131/1314657/logo_small.jpg?2">
                            <span class="post-author-name">米奇老表</span>
                        </div>
                    </a>

                </li>



            </ul>
        </section>
        <section class="hot-events">
            <h2>全年超过百万奖金的活动和大赛，好照片不再寂寞······</h2>
            <p>中国最活跃的摄影赛事平台，层出不穷的活动创意，专业的摄影导师群体，一起帮助你成为中国最好的摄影师。</p>
            <ul class="events-list">
                <li class="lazy-load" data-lazy-url="https://photo.tuchong.com/1188774/l/13910309.webp">
                    <a class="event-mask" href="https://tuchong.com/events/440935/" target="_blank">
                        <h3 class="event-title">“街拍中国”九月赛</h3>
                        <p class="event-posts">已投稿5579</p>
                        <p class="event-deadline">距结束<em>5天</em></p>
                    </a>
                </li>
                <li class="lazy-load" data-lazy-url="https://photo.tuchong.com/1118844/l/19349069.webp">
                    <a class="event-mask" href="https://tuchong.com/events/441926/" target="_blank">
                        <h3 class="event-title">胖电塔与街头摄影04期</h3>
                        <p class="event-posts">已投稿1518</p>
                        <p class="event-deadline">距结束<em>5天</em></p>
                    </a>
                </li>
                <li class="lazy-load" data-lazy-url="https://s1.tuchong.com/event-banners/442685/app.jpg?2">
                    <a class="event-mask" href="https://tuchong.com/events/442685/" target="_blank">
                        <h3 class="event-title">“奇迹之镜”图虫风光摄影典藏双月赛第三季</h3>
                        <p class="event-posts">已投稿1141</p>
                        <p class="event-deadline">距结束<em>44天</em></p>
                    </a>
                </li>
                <li class="lazy-load" data-lazy-url="https://s1.tuchong.com/event-banners/424535/app.jpg?3">
                    <a class="event-mask" href="https://tuchong.com/events/424535/" target="_blank">
                        <h3 class="event-title">图虫女神计划</h3>
                        <p class="event-posts">已投稿11581</p>
                        <p class="event-deadline">距结束<em>81天</em></p>
                    </a>
                </li>
                <li class="lazy-load" data-lazy-url="https://photo.tuchong.com/275702/l/13646438.webp">
                    <a class="event-mask" href="https://tuchong.com/events/432193/" target="_blank">
                        <h3 class="event-title">阮义忠摄影人文奖</h3>
                        <p class="event-posts">已投稿3561</p>
                        <p class="event-deadline">距结束<em>5天</em></p>
                    </a>
                </li>
                <li class="lazy-load" data-lazy-url="https://photo.tuchong.com/1068278/l/18894289.webp">
                    <a class="event-mask" href="https://tuchong.com/events/441365/" target="_blank">
                        <h3 class="event-title">CAPA十一月风景建筑篇</h3>
                        <p class="event-posts">已投稿1385</p>
                        <p class="event-deadline">距结束<em>2天</em></p>
                    </a>
                </li>
            </ul>
        </section>
    </section>
    <section class="app-zone">
        <div class="app-show">
            <a href="https://appsto.re/cn/JSA9_.i" class="link-ios"></a>
            <a href="https://tuchong.com/rest/android/download" class="link-android"></a>
        </div>
    </section>
</div>
