{{#extend "style"}}
    <link href="/pc/css/home.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}



<main>
    <div class="container clearfix">
        <nav class="secondary-nav">
            <ul class="nav-list">
                <li class="active"><a href="/">动态</a></li>
                <li class="has-news"><a href="/recommend/">推荐</a></li>
                <li><a href="/following/">关注</a></li>
                <li><a href="/tags/人像/">人像</a></li>
                <li><a href="/tags/人文/">人文</a></li>
                <li><a href="/tags/风光/">风光</a></li>
                <li><a href="/tags/纪实/">纪实</a></li>
                <li><a href="/tags/静物/">静物</a></li>
                <li><a href="/tags/旅行/">旅行</a></li>
            </ul>
        </nav>
        <div class="content" style="float: left">
            <div class="card-warning width-icon icon-mobile" data-type="bind-mobile">
                <span class="warning-msg">绑定手机，开启个性化二级域名等高级功能<a href="/settings/account/">点击绑定</a></span><a
                    class="card-close"></a>
            </div>
            <div class="card-warning" data-type="default-follow">
                <span class="warning-msg">你关注的人太少，我们帮你默认关注了一些活跃用户，如果你不喜欢可以<a href="/settings/preferences/">取消</a></span><a
                    class="card-close"></a>
            </div>
            <div class="recommend-tag">
                <h2 class="tag-name">发现精彩标签：山</h2>
                <a class="tag-photos" target="_blank"
                   href="https://tuchong.com/tags/%E5%B1%B1/?post_ids=13430507,13388630,13427090,13427539,13414240">
                    <img src="https://photo.tuchong.com/1286456/g/31074967.webp" alt=""/>
                    <img src="https://photo.tuchong.com/1179802/g/14826932.webp" alt="山中的云"/>
                    <img src="https://photo.tuchong.com/1286456/g/31078611.webp" alt=""/>
                    <img src="https://photo.tuchong.com/1286456/g/31078618.webp" alt=""/>
                    <img src="https://photo.tuchong.com/26030/g/29127627.webp" alt="斯托克角的最后一缕日光"/>
                </a>
            </div>
            <div class="widget-activitylist">
                <div class="loading-icon"></div>
            </div>
        </div>
        <aside class="home-aside" style="float: right">
            <section class="aside-card">
                <ul class="promotion-list">
                    <li>
                        <a href="/rest/ads/82" title="街拍中国" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/179bce375c49dfb10750d3fc4dc202a2.jpg"
                                 alt="街拍中国">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/100" title="第六届“侯登科纪实摄影奖”" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/0506e5bf1918cf1b1c18f742cc7128c5.jpg"
                                 alt="第六届“侯登科纪实摄影奖”">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/104" title="图虫公开课01期" target="_blank">
                            <img class="promotion-banner"
                                 src="//s1.tuchong.com/content-image/2a8c50e26e2f9a258d90ef936bbe9b2e.13.10.png"
                                 alt="图虫公开课01期">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/103" title="“奇迹之镜”图虫风光摄影典藏双月赛（第三季）" target="_blank">
                            <img class="promotion-banner"
                                 src="//s1.tuchong.com/content-image/0fe26e6aab1d4fd1c9456ff4fd419da7.jpg"
                                 alt="“奇迹之镜”图虫风光摄影典藏双月赛（第三季）">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/94" title="图虫女神计划" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/50ef7bb8bb108285ee21db22fc1fd70d.jpg"
                                 alt="图虫女神计划">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/99" title="无忌新锐" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/9d31df5d80881dd468c1c25e9bb7f86b.jpg"
                                 alt="无忌新锐">
                        </a>
                    </li>
                </ul>
            </section>
            <section class="aside-card">
                <a href="/events/" target="_blank" class="card-header icon-left icon-right icon-events">活动</a>
                <ul class="events-list">
                    <li>
                        <a href="https://tuchong.com/371351/" title="图虫团队" rel="author" class="site-icon "
                           data-site-id="371351" target="_blank"><img
                                src="https://s1.tuchong.com/sites/371/371351/logo_small.jpg?6" alt="图虫团队"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/443748/" target="_blank" class="event-name">图虫公开课01期：星空摄影我也能拍！</a>
                            <a class="site-anchor" title="图虫团队" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/371351/" data-site-id="371351" target="_blank">图虫团队</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/1430928/" title="摄影人杨敏捷" rel="author" class="site-icon "
                           data-site-id="1430928" target="_blank"><img
                                src="https://s1.tuchong.com/sites/143/1430928/logo_small.jpg?1" alt="摄影人杨敏捷"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/443743/" target="_blank" class="event-name">拍下你的男神</a>
                            <a class="site-anchor" title="摄影人杨敏捷" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/1430928/" data-site-id="1430928" target="_blank">摄影人杨敏捷</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/371351/" title="图虫团队" rel="author" class="site-icon "
                           data-site-id="371351" target="_blank"><img
                                src="https://s1.tuchong.com/sites/371/371351/logo_small.jpg?6" alt="图虫团队"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/442685/" target="_blank" class="event-name">“奇迹之镜”图虫风光摄影典藏双月赛第三季</a>
                            <a class="site-anchor" title="图虫团队" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/371351/" data-site-id="371351" target="_blank">图虫团队</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/1458703/" title="果然影像" rel="author" class="site-icon "
                           data-site-id="1458703" target="_blank"><img
                                src="https://s1.tuchong.com/sites/145/1458703/logo_small.jpg?2" alt="果然影像"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/442473/" target="_blank" class="event-name">街头幽默</a>
                            <a class="site-anchor" title="果然影像" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/1458703/" data-site-id="1458703" target="_blank">果然影像</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/958201/" title="KaseFilter" rel="author" class="site-icon "
                           data-site-id="958201" target="_blank"><img
                                src="https://s1.tuchong.com/sites/958/958201/logo_small.jpg?14" alt="KaseFilter"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/442407/" target="_blank" class="event-name">Kase卡色“花开未央”风光摄影现金大赛（第十期）</a>
                            <a class="site-anchor" title="KaseFilter" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/958201/" data-site-id="958201" target="_blank">KaseFilter</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/1177898/" title="苏州鹿岛影像第一站" rel="author" class="site-icon "
                           data-site-id="1177898" target="_blank"><img
                                src="https://s1.tuchong.com/sites/117/1177898/logo_small.jpg?1" alt="苏州鹿岛影像第一站"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/442318/" target="_blank" class="event-name">一句文艺</a>
                            <a class="site-anchor" title="苏州鹿岛影像第一站" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/1177898/" data-site-id="1177898" target="_blank">苏州鹿岛影像第一站</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/1019055/" title="疯贱迷信Csn" rel="author" class="site-icon "
                           data-site-id="1019055" target="_blank"><img
                                src="https://s1.tuchong.com/sites/101/1019055/logo_small.jpg?1" alt="疯贱迷信Csn"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/442317/" target="_blank" class="event-name">长曝.城市</a>
                            <a class="site-anchor" title="疯贱迷信Csn" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/1019055/" data-site-id="1019055" target="_blank">疯贱迷信Csn</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/1491436/" title="yuanr" rel="author" class="site-icon "
                           data-site-id="1491436" target="_blank"><img
                                src="https://s1.tuchong.com/sites/149/1491436/logo_small.jpg?1" alt="yuanr"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/442277/" target="_blank" class="event-name">夕阳捕手</a>
                            <a class="site-anchor" title="yuanr" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/1491436/" data-site-id="1491436" target="_blank">yuanr</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://tuchong.com/1032464/" title="胖电塔与街头摄影" rel="author" class="site-icon "
                           data-site-id="1032464" target="_blank"><img
                                src="https://s1.tuchong.com/sites/103/1032464/logo_small.jpg?11" alt="胖电塔与街头摄影"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/441926/" target="_blank"
                               class="event-name">胖电塔与街头摄影04期</a>
                            <a class="site-anchor" title="胖电塔与街头摄影" rel="author" class="site-anchor user-anchor"
                               href="https://tuchong.com/1032464/" data-site-id="1032464" target="_blank">胖电塔与街头摄影</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://capa.tuchong.com/" title="《咔啪》杂志" rel="author" class="site-icon "
                           data-site-id="227591" target="_blank"><img
                                src="https://s1.tuchong.com/sites/227/227591/logo_small.jpg?1" alt="《咔啪》杂志"/></a>
                        <div class="event-detail">
                            <a href="https://tuchong.com/events/441402/" target="_blank"
                               class="event-name">CAPA主题影赛“秋”</a>
                            <a class="site-anchor" title="《咔啪》杂志" rel="author" class="site-anchor"
                               href="https://capa.tuchong.com/" data-site-id="227591" target="_blank">《咔啪》杂志</a>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="aside-card">
                <div class="weibo-bind">
                    <p>绑定新浪微博后，你发布的照片和组照就能自动同步到微博了。</p>
                    <a href="/weibo/auth-oauth1/"><img src="//static.tuchong.net/styles/images/weibo_bind.png"
                                                       alt="绑定微博账号"></a>
                </div>
            </section>
            <section class="aside-card">
                <a class="card-header">图虫微信公众号</a>
                <img class="wechat-qrcode" src="//static.tuchong.net/images/weixin_official_8cm.jpg" alt="图虫微信公众号">
            </section>
        </aside>
    </div>
</main>
