{{#extend "style"}}
    <link href="/pc/css/discussion.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}


<div class="navbar-secondary pc-navbar">
    <nav class="navbar container">
        <ul class="navbar-subnav">
            <li><a href="https://tuchong.com/discussion/hot/">热门话题</a></li>
            <li class="active"><a href="https://tuchong.com/discussion/new-comments/">最新评论</a></li>
        </ul>
    </nav>
</div>
<div class="notify-bar card" style="display: none;"><ul class="notify-list"></ul><div class="read-all"><a href="javascript:void(0)" class="btn btn-sm btn-default">知道了</a></div></div>
<div class="container container-default">

    <h1>最新评论</h1>
    <main role="main" class="col-main">
        <section class="with-bg first">
            <ul class="my-comments"><li>
                <article>
                    <header>
                        <h1>
                            <a class="site-anchor" title="羊儿客" rel="author" href="https://tuchong.com/1549849/" data-site-id="1549849" target="_blank">羊儿客</a> 在
                            <cite><a href="https://fejune.tuchong.com/t/13514970/">话题：如何分辨图片是否被PS过？</a></cite>
                            中：
                        </h1>
                        <a href="https://tuchong.com/1549849/" title="羊儿客" rel="author" class="site-icon " data-site-id="1549849" target="_blank"><img src="https://s1.tuchong.com/sites/154/1549849/logo_small.jpg?1" alt="羊儿客"></a></header>
                    <p>有的PS也太假了點嘛，所以才有許多口舌。</p>
                    <footer>
                        <time pubdate="" datetime="2016-09-21 22:52:41" title="2016-09-21 22:52:41">昨天 22:52</time></footer>
                </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="羊儿客" rel="author" href="https://tuchong.com/1549849/" data-site-id="1549849" target="_blank">羊儿客</a> 在
                                <cite><a href="https://tuchong.com/1129924/t/13522681/">也说PS</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1549849/" title="羊儿客" rel="author" class="site-icon " data-site-id="1549849" target="_blank"><img src="https://s1.tuchong.com/sites/154/1549849/logo_small.jpg?1" alt="羊儿客"></a></header>
                        <p>同感！攝影不等于做效果圖。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-21 22:47:54" title="2016-09-21 22:47:54">昨天 22:47</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="挨踢小胖" rel="author" href="https://itxiaopang.tuchong.com/" data-site-id="1551829" target="_blank">挨踢小胖</a> 在
                                <cite><a href="https://tuchong.com/1422809/t/13181312/">出售尼康d810＋尼康24-70mm f/2.8G ED镜头</a></cite>
                                中：
                            </h1>
                            <a href="https://itxiaopang.tuchong.com/" title="挨踢小胖" rel="author" class="site-icon " data-site-id="1551829" target="_blank"><img src="https://s1.tuchong.com/sites/155/1551829/logo_small.jpg?1" alt="挨踢小胖"></a></header>
                        <p>单单一个810出的话多少钱</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-21 22:16:40" title="2016-09-21 22:16:40">昨天 22:16</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="布布bubu" rel="author" href="https://tuchong.com/302690/" data-site-id="302690" target="_blank">布布bubu</a> 在
                                <cite><a href="https://fejune.tuchong.com/t/13514970/">话题：如何分辨图片是否被PS过？</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/400868/" data-site-id="400868">Ynetc</a>：
                            </h1>
                            <a href="https://tuchong.com/302690/" title="布布bubu" rel="author" class="site-icon " data-site-id="302690" target="_blank"><img src="https://s1.tuchong.com/sites/302/302690/logo_small.jpg?5" alt="布布bubu"></a></header>
                        <p>很强+1</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-20 22:51:21" title="2016-09-20 22:51:21">9月20日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="图树" rel="author" href="https://tuchong.com/419485/" data-site-id="419485" target="_blank">图树</a> 在
                                <cite><a href="https://tuchong.com/1350789/t/13364493/">【收】尼康17-35 F2.8 金广角镜头 【出】尼康24-70 F2.8 ED</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/419485/" title="图树" rel="author" class="site-icon " data-site-id="419485" target="_blank"><img src="https://static.tuchong.net/styles/images/noavatar_small.gif" alt="图树"></a></header>
                        <p>24-70什么价格   成色如何</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-20 15:52:17" title="2016-09-20 15:52:17">9月20日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="Ynetc" rel="author" href="https://tuchong.com/400868/" data-site-id="400868" target="_blank">Ynetc</a> 在
                                <cite><a href="https://fejune.tuchong.com/t/13514970/">话题：如何分辨图片是否被PS过？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/400868/" title="Ynetc" rel="author" class="site-icon " data-site-id="400868" target="_blank"><img src="https://s1.tuchong.com/sites/400/400868/logo_small.jpg?3" alt="Ynetc"></a></header>
                        <p>误差水平分析法（Error Level Analysis），分析图片局部区域压缩的压缩率并计算水平误差，来判断是否有后期修改。可用开源工具fotoforensics。理论上经过一次采样的图片各区域压缩率误差应该是相似的，如果某一区域ELA值显著差异，可能该部分经过后期修改</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-20 11:41:52" title="2016-09-20 11:41:52">9月20日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="布布bubu" rel="author" href="https://tuchong.com/302690/" data-site-id="302690" target="_blank">布布bubu</a> 在
                                <cite><a href="https://fejune.tuchong.com/t/13514970/">话题：如何分辨图片是否被PS过？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/302690/" title="布布bubu" rel="author" class="site-icon " data-site-id="302690" target="_blank"><img src="https://s1.tuchong.com/sites/302/302690/logo_small.jpg?5" alt="布布bubu"></a></header>
                        <p>这是一个一直没好意思问的问题 哈哈 应该有科学的方法吧？</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-20 10:57:42" title="2016-09-20 10:57:42">9月20日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="坎蒂丝儿" rel="author" href="https://tuchong.com/397388/" data-site-id="397388" target="_blank">坎蒂丝儿</a> 在
                                <cite><a href="https://fejune.tuchong.com/t/13514970/">话题：如何分辨图片是否被PS过？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/397388/" title="坎蒂丝儿" rel="author" class="site-icon " data-site-id="397388" target="_blank"><img src="https://s1.tuchong.com/sites/397/397388/logo_small.jpg?2" alt="坎蒂丝儿"></a></header>
                        <p>细节上还是比较好判断，如果在细部看到大量的重复性元素那很有可能用到了仿制图章。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-19 15:27:30" title="2016-09-19 15:27:30">9月19日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="麻小" rel="author" href="https://malaxiaolongxia.tuchong.com/" data-site-id="1117143" target="_blank">麻小</a> 在
                                <cite><a href="https://fejune.tuchong.com/t/13514970/">话题：如何分辨图片是否被PS过？</a></cite>
                                中：
                            </h1>
                            <a href="https://malaxiaolongxia.tuchong.com/" title="麻小" rel="author" class="site-icon " data-site-id="1117143" target="_blank"><img src="https://s1.tuchong.com/sites/111/1117143/logo_small.jpg?2" alt="麻小"></a></header>
                        <p>判断这样的照片就跟大家来找茬一样，首先看是不是有一样的元素，很多人的后期技术并没有那么好，图章和黏贴是常用的方式。其次看色差，光源位置，阴影位置，对于大部分人而言，这些都是被忽视的细节，而这些细节都是暴露后期的地方。再就是看模糊痕迹，会后期的你，对这个不会陌生吧？</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-19 15:23:41" title="2016-09-19 15:23:41">9月19日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="叶枫" rel="author" href="https://tuchong.com/299495/" data-site-id="299495" target="_blank">叶枫</a> 在
                                <cite><a href="https://qiujidong.tuchong.com/t/13486159/">该更新器材库了</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/299495/" title="叶枫" rel="author" class="site-icon " data-site-id="299495" target="_blank"><img src="https://s1.tuchong.com/sites/299/299495/logo_small.jpg?2" alt="叶枫"></a></header>
                        <p>附议!</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-19 09:55:20" title="2016-09-19 09:55:20">9月19日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="粟米_MILLET" rel="author" href="https://goldenbuilding.tuchong.com/" data-site-id="1143563" target="_blank">粟米_MILLET</a> 在
                                <cite><a href="https://qiujidong.tuchong.com/t/13486159/">该更新器材库了</a></cite>
                                中：
                            </h1>
                            <a href="https://goldenbuilding.tuchong.com/" title="粟米_MILLET" rel="author" class="site-icon " data-site-id="1143563" target="_blank"><img src="https://s1.tuchong.com/sites/114/1143563/logo_small.jpg?1" alt="粟米_MILLET"></a></header>
                        <p>附议。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-19 00:52:20" title="2016-09-19 00:52:20">9月19日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="照相師" rel="author" href="https://tuchong.com/457025/" data-site-id="457025" target="_blank">照相師</a> 在
                                <cite><a href="https://photoyan.tuchong.com/t/13497471/">sony a7系列相机配什么闪光灯好?</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/457025/" title="照相師" rel="author" class="site-icon " data-site-id="457025" target="_blank"><img src="https://s1.tuchong.com/sites/457/457025/logo_small.jpg?8" alt="照相師"></a></header>
                        <p>35、50之类的配一F20M应该够了，还可以做引闪器引闪别的灯。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-18 13:13:27" title="2016-09-18 13:13:27">9月18日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="看风景的人" rel="author" href="https://tuchong.com/433920/" data-site-id="433920" target="_blank">看风景的人</a> 在
                                <cite><a href="https://tuchong.com/433920/t/13458621/">图虫APP闪退</a></cite>
                                中回复<a class="user-anchor" href="https://malaxiaolongxia.tuchong.com/" data-site-id="1117143">麻小</a>：
                            </h1>
                            <a href="https://tuchong.com/433920/" title="看风景的人" rel="author" class="site-icon " data-site-id="433920" target="_blank"><img src="https://s1.tuchong.com/sites/433/433920/logo_small.jpg?1" alt="看风景的人"></a></header>
                        <p>还没修复吗？</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-17 14:45:46" title="2016-09-17 14:45:46">9月17日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="花店姐" rel="author" href="https://tuchong.com/977356/" data-site-id="977356" target="_blank">花店姐</a> 在
                                <cite><a href="https://fejune.tuchong.com/t/13472700/">初学摄影时有哪些本可以避免的误区？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/977356/" title="花店姐" rel="author" class="site-icon " data-site-id="977356" target="_blank"><img src="https://s1.tuchong.com/sites/977/977356/logo_small.jpg?4" alt="花店姐"></a></header>
                        <p>多看已逝世的大师作品。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-17 09:58:27" title="2016-09-17 09:58:27">9月17日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="花店姐" rel="author" href="https://tuchong.com/977356/" data-site-id="977356" target="_blank">花店姐</a> 在
                                <cite><a href="https://malaxiaolongxia.tuchong.com/t/13272199/">按快门有啥成本？凭什么不能给我免费拍？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/977356/" title="花店姐" rel="author" class="site-icon " data-site-id="977356" target="_blank"><img src="https://s1.tuchong.com/sites/977/977356/logo_small.jpg?4" alt="花店姐"></a></header>
                        <p>不后期，不挑选，原片拍多少全部给你，你要么？</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-17 09:57:18" title="2016-09-17 09:57:18">9月17日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="花店姐" rel="author" href="https://tuchong.com/977356/" data-site-id="977356" target="_blank">花店姐</a> 在
                                <cite><a href="https://fejune.tuchong.com/t/13390490/">你随身带相机吗？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/977356/" title="花店姐" rel="author" class="site-icon " data-site-id="977356" target="_blank"><img src="https://s1.tuchong.com/sites/977/977356/logo_small.jpg?4" alt="花店姐"></a></header>
                        <p>尽量。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-17 09:54:35" title="2016-09-17 09:54:35">9月17日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="交响" rel="author" href="https://tuchong.com/1524943/" data-site-id="1524943" target="_blank">交响</a> 在
                                <cite><a href="https://malaxiaolongxia.tuchong.com/t/13272199/">按快门有啥成本？凭什么不能给我免费拍？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1524943/" title="交响" rel="author" class="site-icon " data-site-id="1524943" target="_blank"><img src="https://static.tuchong.net/styles/images/noavatar_small.gif" alt="交响"></a></header>
                        <p>我遇到过多次，我的回答是我不会拍婚纱，我只拍风光，或者告诉他不巧闪光灯坏掉了，还没攒够钱买新的。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-16 22:44:53" title="2016-09-16 22:44:53">9月16日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="千载不变" rel="author" href="https://tuchong.com/1103201/" data-site-id="1103201" target="_blank">千载不变</a> 在
                                <cite><a href="https://tuchong.com/1336793/t/13007332/">第一次拍，大神可以指点一下吗？</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1103201/" title="千载不变" rel="author" class="site-icon " data-site-id="1103201" target="_blank"><img src="https://s1.tuchong.com/sites/110/1103201/logo_small.jpg?1" alt="千载不变"></a></header>
                        <p>有几张对焦不准 中心不明确</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-16 10:35:50" title="2016-09-16 10:35:50">9月16日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="千载不变" rel="author" href="https://tuchong.com/1103201/" data-site-id="1103201" target="_blank">千载不变</a> 在
                                <cite><a href="https://tuchong.com/465563/t/13495029/">纠结于 全画幅（A7M2 vs D750）+广角变焦镜头</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1103201/" title="千载不变" rel="author" class="site-icon " data-site-id="1103201" target="_blank"><img src="https://s1.tuchong.com/sites/110/1103201/logo_small.jpg?1" alt="千载不变"></a></header>
                        <p>A7M2+FE55 好 便携</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-16 10:34:41" title="2016-09-16 10:34:41">9月16日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/295344/" data-site-id="295344">KurT_Tong</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>爱普生v750 =.=</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-15 11:44:52" title="2016-09-15 11:44:52">9月15日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://blandeeywang.tuchong.com/" data-site-id="234270">Blandeey</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>禄来非常棒 当然还是看预算 <br>
                            2000左右可以考虑 雅西卡124G 美能达autocord  勃朗尼卡sqa <br>
                            3000左右可以考虑rolleicord(当然是不太推荐）<br>
                            6000左右可以选择mamiya6（终于出现120旁轴系列）<br>
                            6000往上就是哈苏 禄来了</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-15 11:44:19" title="2016-09-15 11:44:19">9月15日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="KurT_Tong" rel="author" href="https://tuchong.com/295344/" data-site-id="295344" target="_blank">KurT_Tong</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/295344/" title="KurT_Tong" rel="author" class="site-icon " data-site-id="295344" target="_blank"><img src="https://s1.tuchong.com/sites/295/295344/logo_small.jpg?4" alt="KurT_Tong"></a></header>
                        <p>自扫120，求推荐合适扫描仪</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-14 16:23:09" title="2016-09-14 16:23:09">9月14日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="dali1976" rel="author" href="https://tuchong.com/1542505/" data-site-id="1542505" target="_blank">dali1976</a> 在
                                <cite><a href="https://qiujidong.tuchong.com/t/13486159/">该更新器材库了</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1542505/" title="dali1976" rel="author" class="site-icon " data-site-id="1542505" target="_blank"><img src="https://static.tuchong.net/styles/images/noavatar_small.gif" alt="dali1976"></a></header>
                        <p>是这样的，该更新器材库了！</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-13 13:57:37" title="2016-09-13 13:57:37">9月13日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1332352/" data-site-id="1332352">躁狂的瑞狗</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>-。-  高冷大猫脸<br>
                            @画大猫</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 14:40:59" title="2016-09-12 14:40:59">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1393781/" data-site-id="1393781">蔡蔡儿</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>可以上传自己的作品，在留言区附上图博链接</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 13:58:58" title="2016-09-12 13:58:58">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1393781/" data-site-id="1393781">蔡蔡儿</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>对于黑白 彩色负片来说 曝光在一档内差别也不会太大 完全有救<br>
                            但是反转就不同了 就要严格很多<br>
                            全手动胶片也有测光的哈~<br>
                            全手动更多赋予的是 手动控制快门 光圈 和对焦<br>
                            测光只是参考 <br>
                            曝光是人为控制 决定因素<br>
                            所以熟悉一台机器是拍照的前提  <br>
                            如果机器测光很准 那没必要测光表哈<br>
                            重点是在于拍照的人 想要什么样的曝光</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 13:48:59" title="2016-09-12 13:48:59">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://fradser.tuchong.com/" data-site-id="301267">FradSer</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>-。- 看下预算吧 这个还是有多少钱 下多少料的问题</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 13:45:49" title="2016-09-12 13:45:49">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/384285/" data-site-id="384285">无花非花</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>疗程要多久的？慢烧还是高烧？<br>
                            给个预算</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 13:45:20" title="2016-09-12 13:45:20">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1507695/" data-site-id="1507695">马拉松的松</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>看这样的保存条件的话 不确定会不会有问题哈<br>
                            偏色是少不了的<br>
                            拍是能拍 就是拍出来什么 就得试试了</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 13:44:37" title="2016-09-12 13:44:37">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1351438/" data-site-id="1351438">海洋的猪Ocean</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>这个问题问的很棒啊！<br>
                            首先 普通尺寸 我猜的没错 应该是5寸 6寸<br>
                            满足这2个尺寸的照片输出分辨率要求是300dpi <br>
                            也就是说要求像素大概在200w像素也就够了（这个像素是直接扫描或者拍摄的像素 不是用软件插值的）<br>
                            这个尺寸的照片 对于现代的摄影器材而言 轻松达到<br>
                            在像素方面 大家都没问题<br>
                            更多的问题是在色彩方面吧 <br>
                            不同的设备输出 对色彩的管理也是不同的 <br>
                            所以在这个尺寸的照片输出来说 两者都可以满足 选择自己喜欢的照片印就好了<br>
                            没有什么优势不优势的<br>
                            打个广告（欢迎移步画英雄淘宝店 选择爱普生微喷输出）<br>
                            爱她就送她 一副来自画英雄的微喷</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 12:56:29" title="2016-09-12 12:56:29">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://maya2013.tuchong.com/" data-site-id="262405">麋鹿先生</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>随着我国国民生产总值的提升 以及国民消费能力的提高 以及对专业化摄影的市场需求 <br>
                            广大摄影爱好者已经在吃土拍胶片提升到了喝粥拍胶片 胶片市场的确有大幅度提升（新闻联播口吻）<br>
                            -。-  <br>
                            压在广大胶片爱好者身上的有三座大山：柯达 富士 伊尔福 <br>
                            愿三座大山焕发第二春 <br>
                            怕的就是山里不长草药了 病都没法治了</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 12:49:07" title="2016-09-12 12:49:07">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1393781/" data-site-id="1393781">蔡蔡儿</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>这个问题问的很有普遍性哈<br>
                            有必要正经的回答一下<br>
                            通透感  根据这么多年的经验来看<br>
                            主要还是有三方面决定的：<br>
                            1.胶卷 底片的质量（不过期 没质量问题）<br>
                            2.拍摄 注意曝光 还有拍摄时的空气环境 曝光会很直接的影响到整个画面的干净程度 <br>
                            3.冲扫 标准的冲洗条件和选择适合的扫描风格<br>
                            基本上满足这3个方面没问题 照片看起来都是通透的 <br>
                            当然 要空气感 还得底儿大点~</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 12:32:01" title="2016-09-12 12:32:01">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/273350/" data-site-id="273350">王阿鑫</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>北方冬天 直接放室外就好了<br>
                            东北的话 最好不过了<br>
                            还要啥电冰箱  -。- <br>
                            北方干燥 在防潮方面比较有优势 <br>
                            胶卷保存 主要是两方面 防潮和低温<br>
                            建议就是：做好低温保护就OK 北方正常情况基本不用怕受潮</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 12:28:06" title="2016-09-12 12:28:06">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/367645/" data-site-id="367645">灵岛仙缘</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>-。-  看法就是话25左右买的电影卷 然后再花35左右去冲扫 而且还不确定会有什么结果 <br>
                            我宁愿花40元买专业负片 然后22元冲扫  <br>
                            当然尝试一下还是可以有的<br>
                            在稳定性方面 专业负片还是比电影彩负靠谱一些</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 12:25:49" title="2016-09-12 12:25:49">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://qiuluo.tuchong.com/" data-site-id="438539">___秋罗</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>欢迎多交流  0.0</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 12:11:33" title="2016-09-12 12:11:33">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1332352/" data-site-id="1332352">躁狂的瑞狗</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>-。- 洗过画英雄 <br>
                            恩 哈哈 洗洗更健康</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 12:11:16" title="2016-09-12 12:11:16">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="雲峰" rel="author" href="https://tuchong.com/1142109/" data-site-id="1142109" target="_blank">雲峰</a> 在
                                <cite><a href="https://tuchong.com/1395769/t/13133872/">学生党自用佳能70D灭门</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1142109/" title="雲峰" rel="author" class="site-icon " data-site-id="1142109" target="_blank"><img src="https://s1.tuchong.com/sites/114/1142109/logo_small.jpg?2" alt="雲峰"></a></header>
                        <p>多少钱呢？</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-12 00:15:24" title="2016-09-12 00:15:24">9月12日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="Dreamreader" rel="author" href="https://tuchong.com/465563/" data-site-id="465563" target="_blank">Dreamreader</a> 在
                                <cite><a href="https://tuchong.com/465563/t/13484991/">想入全画幅+广角头，求过来人建议！  纠结纠结再纠结！</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1011343/" data-site-id="1011343">爱森斯坦</a>：
                            </h1>
                            <a href="https://tuchong.com/465563/" title="Dreamreader" rel="author" class="site-icon " data-site-id="465563" target="_blank"><img src="https://s1.tuchong.com/sites/465/465563/logo_small.jpg?2" alt="Dreamreader"></a></header>
                        <p>太重</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-11 11:57:46" title="2016-09-11 11:57:46">9月11日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/515185/" data-site-id="515185">古柯</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>那个压板就是来保证胶卷平整度的 如果没有那个压板的话 胶卷只依靠卷轴拉力来控制平整是不够的 <br>
                            所以不要担心平整哈</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-11 11:09:47" title="2016-09-11 11:09:47">9月11日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="古柯" rel="author" href="https://tuchong.com/515185/" data-site-id="515185" target="_blank">古柯</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1396536/" data-site-id="1396536">画英雄</a>：
                            </h1>
                            <a href="https://tuchong.com/515185/" title="古柯" rel="author" class="site-icon " data-site-id="515185" target="_blank"><img src="https://s1.tuchong.com/sites/515/515185/logo_small.jpg?2" alt="古柯"></a></header>
                        <p>还有个问题，和机身有关，如果胶片仓里那个弹性压板有问题，会不会导致压到胶片从而导致对焦有问题？</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-10 23:23:36" title="2016-09-10 23:23:36">9月10日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="古柯" rel="author" href="https://tuchong.com/515185/" data-site-id="515185" target="_blank">古柯</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1396536/" data-site-id="1396536">画英雄</a>：
                            </h1>
                            <a href="https://tuchong.com/515185/" title="古柯" rel="author" class="site-icon " data-site-id="515185" target="_blank"><img src="https://s1.tuchong.com/sites/515/515185/logo_small.jpg?2" alt="古柯"></a></header>
                        <p>非常感谢，可能表达不清楚，问题就是数码和胶片的对比，所谓单反指数码</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-10 23:21:44" title="2016-09-10 23:21:44">9月10日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="爱森斯坦" rel="author" href="https://tuchong.com/1011343/" data-site-id="1011343" target="_blank">爱森斯坦</a> 在
                                <cite><a href="https://tuchong.com/465563/t/13484991/">想入全画幅+广角头，求过来人建议！  纠结纠结再纠结！</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1011343/" title="爱森斯坦" rel="author" class="site-icon " data-site-id="1011343" target="_blank"><img src="https://s1.tuchong.com/sites/101/1011343/logo_small.jpg?1" alt="爱森斯坦"></a></header>
                        <p>14-24.  一步到位，省得以后惦记。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-10 19:53:03" title="2016-09-10 19:53:03">9月10日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="里大大多多洛" rel="author" href="https://tuchong.com/1159673/" data-site-id="1159673" target="_blank">里大大多多洛</a> 在
                                <cite><a href="https://tuchong.com/1350789/t/13364493/">【收】尼康17-35 F2.8 金广角镜头 【出】尼康24-70 F2.8 ED</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1159673/" title="里大大多多洛" rel="author" class="site-icon " data-site-id="1159673" target="_blank"><img src="https://s1.tuchong.com/sites/115/1159673/logo_small.jpg?1" alt="里大大多多洛"></a></header>
                        <p>广角这个出多少钱</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-10 15:12:54" title="2016-09-10 15:12:54">9月10日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="秋风2016" rel="author" href="https://tuchong.com/1173580/" data-site-id="1173580" target="_blank">秋风2016</a> 在
                                <cite><a href="https://tuchong.com/465563/t/13484991/">想入全画幅+广角头，求过来人建议！  纠结纠结再纠结！</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/1173580/" title="秋风2016" rel="author" class="site-icon " data-site-id="1173580" target="_blank"><img src="https://s1.tuchong.com/sites/117/1173580/logo_small.jpg?1" alt="秋风2016"></a></header>
                        <p>一己之见，我觉找个轻便的即可。现在各厂家镜头质量相差无几。即使色彩，锐度有点差别后期皆可调整。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-10 13:23:10" title="2016-09-10 13:23:10">9月10日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/515185/" data-site-id="515185">古柯</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>首先数码和胶片来对比 在这个问题上是不太科学的 <br>
                            数码是数据 电子信号的转换 在后期可以数据来调整一些边缘 来达到视觉上锐度 清晰度的提高  <br>
                            胶片它是物理的存在 它是银盐颗粒的堆积 必须受它物理性的限制 <br>
                            至于你说的单反 这是相机结构哈 跟胶片数码无关 胶片也有单反结构相机（具体可以百度了解一下）<br>
                            当然锐度 解像力 清晰度在胶片时代主要取决于三个方面：镜头 胶片 曝光<br>
                            镜头和胶片的选择非常重要 曝光更多是控制整个画面的整体清晰度的视觉感受<br>
                            可以了解一下镜头的解像力和胶卷的线性对数去做出一些对胶片拍摄的正确认识哈<br>
                            -。- <br>
                            当然 老中医开方：如果追求画质上的提升 那可以选择中画幅 大画幅的胶片 看疗效 试试就知道</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-10 12:30:09" title="2016-09-10 12:30:09">9月10日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="古柯" rel="author" href="https://tuchong.com/515185/" data-site-id="515185" target="_blank">古柯</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中：
                            </h1>
                            <a href="https://tuchong.com/515185/" title="古柯" rel="author" class="site-icon " data-site-id="515185" target="_blank"><img src="https://s1.tuchong.com/sites/515/515185/logo_small.jpg?2" alt="古柯"></a></header>
                        <p>请问胶片的清晰度和锐度总体上是不是无法和单反比？我开始玩单反的，后来用了胶片拍了几卷发现清晰度和锐度真的没法和单反比</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-10 11:39:24" title="2016-09-10 11:39:24">9月10日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="画英雄" rel="author" href="https://tuchong.com/1396536/" data-site-id="1396536" target="_blank">画英雄</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/433955/" data-site-id="433955">陈升二十一</a>：
                            </h1>
                            <a href="https://tuchong.com/1396536/" title="画英雄" rel="author" class="site-icon " data-site-id="1396536" target="_blank"><img src="https://s1.tuchong.com/sites/139/1396536/logo_small.jpg?1" alt="画英雄"></a></header>
                        <p>恩 是的 上了岁数 诊脉时候手抖抖的</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-09 12:08:21" title="2016-09-09 12:08:21">9月9日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="三年不飞" rel="author" href="https://tuchong.com/1370375/" data-site-id="1370375" target="_blank">三年不飞</a> 在
                                <cite><a href="https://lihua.tuchong.com/t/12809712/">如何彻底删除相册照片？？？</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1156787/" data-site-id="1156787">花花美屏</a>：
                            </h1>
                            <a href="https://tuchong.com/1370375/" title="三年不飞" rel="author" class="site-icon " data-site-id="1370375" target="_blank"><img src="https://s1.tuchong.com/sites/137/1370375/logo_small.jpg?1" alt="三年不飞"></a></header>
                        <p>删不了，在发布页面，你点击“从图虫相册选择照片”就能看到你自以为已经删除的所有照片了</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-08 09:07:09" title="2016-09-08 09:07:09">9月8日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="三年不飞" rel="author" href="https://tuchong.com/1370375/" data-site-id="1370375" target="_blank">三年不飞</a> 在
                                <cite><a href="https://lihua.tuchong.com/t/12809712/">如何彻底删除相册照片？？？</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/481901/" data-site-id="481901">Madaox_</a>：
                            </h1>
                            <a href="https://tuchong.com/1370375/" title="三年不飞" rel="author" class="site-icon " data-site-id="1370375" target="_blank"><img src="https://s1.tuchong.com/sites/137/1370375/logo_small.jpg?1" alt="三年不飞"></a></header>
                        <p>图虫一开始就压根不打算让你删除照片，只要你上传，你都不需要点发布，这些上传的图片就已经被自动存档了</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-08 09:05:00" title="2016-09-08 09:05:00">9月8日</time></footer>
                    </article></li>
                <li>
                    <article>
                        <header>
                            <h1>
                                <a class="site-anchor" title="陈升二十一" rel="author" href="https://tuchong.com/433955/" data-site-id="433955" target="_blank">陈升二十一</a> 在
                                <cite><a href="https://tuchong.com/1396536/t/13476646/">胶片问诊室</a></cite>
                                中回复<a class="user-anchor" href="https://tuchong.com/1396536/" data-site-id="1396536">画英雄</a>：
                            </h1>
                            <a href="https://tuchong.com/433955/" title="陈升二十一" rel="author" class="site-icon " data-site-id="433955" target="_blank"><img src="https://s1.tuchong.com/sites/433/433955/logo_small.jpg?1" alt="陈升二十一"></a></header>
                        <p>btw 最后一个是vista400吧。。。。</p>
                        <footer>
                            <time pubdate="" datetime="2016-09-08 08:06:36" title="2016-09-08 08:06:36">9月8日</time></footer>
                    </article></li>
            </ul>
            <div class="pagebar"><div class="wrapper">
                <div class="pages">


                    <span class="current">1</span>

                    <a href="?page=2">2</a>
                    <a href="?page=3">3</a>
                    <a href="?page=4">4</a>

                    <span>...</span>

                    <a rel="next" href="?page=2" class="next">下一页</a>
                </div>
            </div>
            </div>
        </section>
    </main>

    <aside id="side" class="col-side">
        <section class="widget my-groups">
            <h3 class="card-header"><a href="https://tuchong.com/discussion/list/">推荐讨论区</a></h3>
            <ul class="side-group-list"><li>
                <a title="观点话题" href="https://tuchong.com/1174362/" data-site-id="1174362" target="_blank">
                    <img class="site-icon" src="https://s1.tuchong.com/sites/117/1174362/logo_small.jpg?3" alt="观点话题">
                    观点话题
                </a>
            </li>
                <li>
                    <a title="二手专区" href="https://secondhand.tuchong.com/" data-site-id="906" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/906/logo_small.jpg?3" alt="二手专区">
                        二手专区
                    </a>
                </li>
                <li>
                    <a title="天工巧夺" href="https://tuchong.com/646/" data-site-id="646" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/646/logo_small.jpg?2" alt="天工巧夺">
                        天工巧夺
                    </a>
                </li>
                <li>
                    <a title="发烧器材" href="https://canon.tuchong.com/" data-site-id="631" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/631/logo_small.jpg?2" alt="发烧器材">
                        发烧器材
                    </a>
                </li>
                <li>
                    <a title="拍砖有理" href="https://pzyl.tuchong.com/" data-site-id="870" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/870/logo_small.jpg?3" alt="拍砖有理">
                        拍砖有理
                    </a>
                </li>
                <li>
                    <a title="图虫智囊" href="https://tuchong.tuchong.com/" data-site-id="621" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/621/logo_small.jpg?3" alt="图虫智囊">
                        图虫智囊
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</div>
