{{#extend "style"}}
    <link href="/pc/css/help.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}

<main>
    <div class="container">
        <div class="content">

            <h4>【前端开发（高级）工程师】</h4>
            <p>岗位职责：</p>
            <ol type="1" start="number">
                <li>负责产品Web\APP\WAP 前端的实现，协助各产品网页的性能优化；</li>
                <li>负责数据平台的可视化，设计或选用前端基础组件，搭建大型网页应用；</li>
                <li>尝试更快更灵活的Webview新功能或体验优化。</li>
            </ol>
            <p>任职要求：</p>
            <ol type="1" start="number">
                <li>本科及以上学历，计算机相关专业；</li>
                <li>热爱计算机科学和互联网技术，对各种Web前端技术有深刻理解；</li>
                <li>关注Web发展，对新技术充满激情，期待或者已经开发出优秀的产品；</li>
                <li>理解RIA，有Ajax相关的实践经验，对React.js，VUE.js，Angular.js等MVVM框架能熟练运用至少一种，且了解其基本原理；</li>
                <li>对可用性、可访问性等相关知识有实际的了解和实践经验；</li>
                <li>熟悉服务器端Web应用结构，有服务器端脚本语言经验更佳；</li>
                <li>团队精神，性格乐观，能积极面对压力。</li>
            </ol>
            <p>简历发送邮到<a href="mailto:167104@qq.com">167104@qq.com</a>，标题格式：【偶酷】-【岗位】-【姓名】</p>
        </div>
    </div>
</main>
