{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
    <style type="text/css">
        #site-header {
            background: #000 url(https://static.tuchong.net/images/site-bg-1.jpg) no-repeat center 0;
            background-size: cover;
        }
        .m-site-header {
            background: #000 url(https://static.tuchong.net/images/site-bg-1.jpg) no-repeat center 0;
            background-size: cover;
        }
    </style>
{{/extend}}
{{#extend 'bodyAttr'}}
    class="space-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_personal_top}}

<div class="container container-default">
    <main role="main" class="col-main col-xs-12">
        <h2>子一824关注了<em>4</em>人</h2>
        <ul class="user-list row">  <li class="col-xs-12 col-sm-6 col-md-3">
            <div class="card" data-site-id="1175581">
                <a href="https://tuchong.com/1175581/" title="写真的话-获奖作品" rel="author" class="site-icon " data-site-id="1175581" target="_blank"><img src="https://s1.tuchong.com/sites/117/1175581/logo_small.jpg?2" alt="写真的话-获奖作品"></a>
                <h4 class="name"><a class="site-anchor" title="写真的话-获奖作品" rel="author" href="https://tuchong.com/1175581/" data-site-id="1175581" target="_blank">写真的话-获奖作品</a></h4>
                <span class="follower">
        38515关注者      </span>
                <p class="desc">一张照片一句话，每日300元奖金。活动页移步：https://tuchong.com/events/418426</p>
                <div class="site-actions following" data-site-id="1175581"><button type="button" class="btn btn-follow">
                    <span class="btn-text text-following">已关注</span>
                    <span class="btn-text text-unfollow">取消关注</span>
                    <span class="btn-text text-follow">关注</span>
                </button></div>
            </div>
        </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1165988">
                    <a href="https://tuchong.com/1165988/" title="影像频道" rel="author" class="site-icon " data-site-id="1165988" target="_blank"><img src="https://s1.tuchong.com/sites/116/1165988/logo_small.jpg?4" alt="影像频道"></a>
                    <h4 class="name"><a class="site-anchor" title="影像频道" rel="author" href="https://tuchong.com/1165988/" data-site-id="1165988" target="_blank">影像频道</a></h4>
                    <span class="follower">
        18421关注者      </span>
                    <p class="desc">登录 http://tuchong.com/vision/观看影像频道内容， 投稿请在评论中@影像频道。</p>
                    <div class="site-actions following" data-site-id="1165988"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1016113">
                    <a href="https://jiek.tuchong.com/" title="杰客" rel="author" class="site-icon " data-site-id="1016113" target="_blank"><img src="https://s1.tuchong.com/sites/101/1016113/logo_small.jpg?4" alt="杰客"></a>
                    <h4 class="name"><a class="site-anchor" title="杰客" rel="author" href="https://jiek.tuchong.com/" data-site-id="1016113" target="_blank">杰客</a></h4>
                    <span class="follower">
        13106关注者      </span>
                    <p class="desc">郑州爬楼党，微信号：30195390</p>
                    <div class="site-actions following" data-site-id="1016113"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1039777">
                    <a href="https://tuchong.com/1039777/" title="老三2005" rel="author" class="site-icon " data-site-id="1039777" target="_blank"><img src="https://s1.tuchong.com/sites/103/1039777/logo_small.jpg?1" alt="老三2005"></a>
                    <h4 class="name"><a class="site-anchor" title="老三2005" rel="author" href="https://tuchong.com/1039777/" data-site-id="1039777" target="_blank">老三2005</a></h4>
                    <span class="follower">
        265关注者      </span>
                    <p class="desc"></p>
                    <div class="site-actions following" data-site-id="1039777"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1041891">
                    <a href="https://estella.tuchong.com/" title="Estella_lin" rel="author" class="site-icon " data-site-id="1041891" target="_blank"><img src="https://s1.tuchong.com/sites/104/1041891/logo_small.jpg?1" alt="Estella_lin"></a>
                    <h4 class="name"><a class="site-anchor" title="Estella_lin" rel="author" href="https://estella.tuchong.com/" data-site-id="1041891" target="_blank">Estella_lin</a></h4>
                    <span class="follower">
        1175关注者      </span>
                    <p class="desc"></p>
                    <div class="site-actions following" data-site-id="1041891"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1103201">
                    <a href="https://tuchong.com/1103201/" title="千载不变" rel="author" class="site-icon " data-site-id="1103201" target="_blank"><img src="https://s1.tuchong.com/sites/110/1103201/logo_small.jpg?1" alt="千载不变"></a>
                    <h4 class="name"><a class="site-anchor" title="千载不变" rel="author" href="https://tuchong.com/1103201/" data-site-id="1103201" target="_blank">千载不变</a></h4>
                    <span class="follower">
        731关注者      </span>
                    <p class="desc">灾星下出生的恋人们 微博 @千岛集</p>
                    <div class="site-actions following" data-site-id="1103201"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1106359">
                    <a href="https://yiliweichenn.tuchong.com/" title="一粒微尘" rel="author" class="site-icon " data-site-id="1106359" target="_blank"><img src="https://s1.tuchong.com/sites/110/1106359/logo_small.jpg?1" alt="一粒微尘"></a>
                    <h4 class="name"><a class="site-anchor" title="一粒微尘" rel="author" href="https://yiliweichenn.tuchong.com/" data-site-id="1106359" target="_blank">一粒微尘</a></h4>
                    <span class="follower">
        2322关注者      </span>
                    <p class="desc">摄影小小白，软件测试狗。
                        WeChat : V229202851</p>
                    <div class="site-actions following" data-site-id="1106359"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1120775">
                    <a href="https://tuchong.com/1120775/" title="湘山红叶" rel="author" class="site-icon " data-site-id="1120775" target="_blank"><img src="https://s1.tuchong.com/sites/112/1120775/logo_small.jpg?1" alt="湘山红叶"></a>
                    <h4 class="name"><a class="site-anchor" title="湘山红叶" rel="author" href="https://tuchong.com/1120775/" data-site-id="1120775" target="_blank">湘山红叶</a></h4>
                    <span class="follower">
        5334关注者      </span>
                    <p class="desc">酷爱摄影，喜欢旅游，交朋友。盼交流：微信号：13135181160
                        QQ451299845</p>
                    <div class="site-actions following" data-site-id="1120775"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1142436">
                    <a href="https://tuchong.com/1142436/" title="摄影书房" rel="author" class="site-icon " data-site-id="1142436" target="_blank"><img src="https://s1.tuchong.com/sites/114/1142436/logo_small.jpg?4" alt="摄影书房"></a>
                    <h4 class="name"><a class="site-anchor" title="摄影书房" rel="author" href="https://tuchong.com/1142436/" data-site-id="1142436" target="_blank">摄影书房</a></h4>
                    <span class="follower">
        37425关注者      </span>
                    <p class="desc">摄影书房是偶酷的独立品牌，旨在介绍和推广关于摄影书的一切。</p>
                    <div class="site-actions following" data-site-id="1142436"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1158211">
                    <a href="https://tuchong.com/1158211/" title="【写真的话】候选组" rel="author" class="site-icon " data-site-id="1158211" target="_blank"><img src="https://s1.tuchong.com/sites/115/1158211/logo_small.jpg?1" alt="【写真的话】候选组"></a>
                    <h4 class="name"><a class="site-anchor" title="【写真的话】候选组" rel="author" href="https://tuchong.com/1158211/" data-site-id="1158211" target="_blank">【写真的话】候选组</a></h4>
                    <span class="follower">
        37639关注者      </span>
                    <p class="desc">一张照片一句话，每日300元奖金。活动页移步：https://tuchong.com/events/418426</p>
                    <div class="site-actions following" data-site-id="1158211"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1006317">
                    <a href="https://tuchong.com/1006317/" title="牛山" rel="author" class="site-icon " data-site-id="1006317" target="_blank"><img src="https://s1.tuchong.com/sites/100/1006317/logo_small.jpg?1" alt="牛山"></a>
                    <h4 class="name"><a class="site-anchor" title="牛山" rel="author" href="https://tuchong.com/1006317/" data-site-id="1006317" target="_blank">牛山</a></h4>
                    <span class="follower">
        9610关注者      </span>
                    <p class="desc">直面人生，做大时代真实街头的记录者</p>
                    <div class="site-actions following" data-site-id="1006317"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="1006101">
                    <a href="https://tuchong.com/1006101/" title="Max_yu" rel="author" class="site-icon " data-site-id="1006101" target="_blank"><img src="https://s1.tuchong.com/sites/100/1006101/logo_small.jpg?1" alt="Max_yu"></a>
                    <h4 class="name"><a class="site-anchor" title="Max_yu" rel="author" href="https://tuchong.com/1006101/" data-site-id="1006101" target="_blank">Max_yu</a></h4>
                    <span class="follower">
        4142关注者      </span>
                    <p class="desc">华盖创意Getty Images签约摄影师，会拍照的化学PhD。</p>
                    <div class="site-actions following" data-site-id="1006101"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="960745">
                    <a href="https://maomao.tuchong.com/" title="毛酱" rel="author" class="site-icon " data-site-id="960745" target="_blank"><img src="https://s1.tuchong.com/sites/960/960745/logo_small.jpg?29" alt="毛酱"></a>
                    <h4 class="name"><a class="site-anchor" title="毛酱" rel="author" href="https://maomao.tuchong.com/" data-site-id="960745" target="_blank">毛酱</a></h4>
                    <span class="follower">
        5291关注者      </span>
                    <p class="desc">Getty Images签约摄影师
                        LOFTER&amp;Weibo:Maomaoo_Monster</p>
                    <div class="site-actions following" data-site-id="960745"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="624">
                    <a href="https://portrait.tuchong.com/" title="人像摄影" rel="author" class="site-icon " data-site-id="624" target="_blank"><img src="https://s1.tuchong.com/sites/000/624/logo_small.jpg?2" alt="人像摄影"></a>
                    <h4 class="name"><a class="site-anchor" title="人像摄影" rel="author" href="https://portrait.tuchong.com/" data-site-id="624" target="_blank">人像摄影</a></h4>
                    <span class="follower">
        268380关注者      </span>
                    <p class="desc">人像摄影小组</p>
                    <div class="site-actions following" data-site-id="624"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="627">
                    <a href="https://hotspot.tuchong.com/" title="偶酷热点" rel="author" class="site-icon " data-site-id="627" target="_blank"><img src="https://s1.tuchong.com/sites/000/627/logo_small.jpg?3" alt="偶酷热点"></a>
                    <h4 class="name"><a class="site-anchor" title="偶酷热点" rel="author" href="https://hotspot.tuchong.com/" data-site-id="627" target="_blank">偶酷热点</a></h4>
                    <span class="follower">
        127454关注者      </span>
                    <p class="desc">偶酷热点是一个特殊小组，由系统自动维护。
                        当照片的分享次数和浏览次数达到一定标准时，系统会自动推送照片到本小组。</p>
                    <div class="site-actions following" data-site-id="627"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="634">
                    <a href="https://monochrome.tuchong.com/" title="黑白摄影" rel="author" class="site-icon " data-site-id="634" target="_blank"><img src="https://s1.tuchong.com/sites/000/634/logo_small.jpg?1" alt="黑白摄影"></a>
                    <h4 class="name"><a class="site-anchor" title="黑白摄影" rel="author" href="https://monochrome.tuchong.com/" data-site-id="634" target="_blank">黑白摄影</a></h4>
                    <span class="follower">
        152274关注者      </span>
                    <p class="desc">黑白摄影</p>
                    <div class="site-actions following" data-site-id="634"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="858">
                    <a href="https://renwen.tuchong.com/" title="人文纪实" rel="author" class="site-icon " data-site-id="858" target="_blank"><img src="https://s1.tuchong.com/sites/000/858/logo_small.jpg?1" alt="人文纪实"></a>
                    <h4 class="name"><a class="site-anchor" title="人文纪实" rel="author" href="https://renwen.tuchong.com/" data-site-id="858" target="_blank">人文纪实</a></h4>
                    <span class="follower">
        210218关注者      </span>
                    <p class="desc">生活中的文化与艺术小组希望大家的投稿是反映生活相关，文化相关，艺术相关的故事。希望这个小组为大家提供良好的交流的平台。

                        大家集思广益，希望这里是大家成长过程中的良师益友。

                        本小组包括自选作品的上传，相关摄影资料的汇集以及摄影的定期指导性网络讲座，会组织自己的QQ学习小组（群号 158064796）和实践小组，让我们尽快成长，一起成长吧。

                        欢迎大家加入！！


                        另：  有关关注者申请作者权限的办法---------------把自己的帖子链接放@人文宣传窗口 的主页，管理看到会去审核，如果通过会直接给予作者权限。
                        有关申请QQ群，请将偶酷首页链接写明，谢谢。

                        为保证小组的片子质量，目前关注者没有权限投稿

                        于20101117 伯纳丽</p>
                    <div class="site-actions following" data-site-id="858"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="41544">
                    <a href="https://zhangxiaoxiao.tuchong.com/" title="张小小" rel="author" class="site-icon " data-site-id="41544" target="_blank"><img src="https://s1.tuchong.com/sites/041/41544/logo_small.jpg?8" alt="张小小"></a>
                    <h4 class="name"><a class="site-anchor" title="张小小" rel="author" href="https://zhangxiaoxiao.tuchong.com/" data-site-id="41544" target="_blank">张小小</a></h4>
                    <span class="follower">
        14136关注者      </span>
                    <p class="desc">婚礼摄影狗，拍拍写真扒扒妹纸也都还行~</p>
                    <div class="site-actions following" data-site-id="41544"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="242416">
                    <a href="https://maswsh.tuchong.com/" title="风无语" rel="author" class="site-icon " data-site-id="242416" target="_blank"><img src="https://s1.tuchong.com/sites/242/242416/logo_small.jpg?1" alt="风无语"></a>
                    <h4 class="name"><a class="site-anchor" title="风无语" rel="author" href="https://maswsh.tuchong.com/" data-site-id="242416" target="_blank">风无语</a></h4>
                    <span class="follower">
        12251关注者      </span>
                    <p class="desc">风光人像纪实街头</p>
                    <div class="site-actions following" data-site-id="242416"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="253549">
                    <a href="https://tuchong.com/253549/" title="乔茗星" rel="author" class="site-icon " data-site-id="253549" target="_blank"><img src="https://s1.tuchong.com/sites/253/253549/logo_small.jpg?6" alt="乔茗星"></a>
                    <h4 class="name"><a class="site-anchor" title="乔茗星" rel="author" href="https://tuchong.com/253549/" data-site-id="253549" target="_blank">乔茗星</a></h4>
                    <span class="follower">
        20536关注者      </span>
                    <p class="desc">清醒地獨自穿過靈魂的黑夜，經歷與命運對峙的瞬間~</p>
                    <div class="site-actions following" data-site-id="253549"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="396821">
                    <a href="https://himmly.tuchong.com/" title="himmly" rel="author" class="site-icon " data-site-id="396821" target="_blank"><img src="https://s1.tuchong.com/sites/396/396821/logo_small.jpg?1" alt="himmly"></a>
                    <h4 class="name"><a class="site-anchor" title="himmly" rel="author" href="https://himmly.tuchong.com/" data-site-id="396821" target="_blank">himmly</a></h4>
                    <span class="follower">
        8257关注者      </span>
                    <p class="desc">华盖创意签约摄影师  海洛创意签约摄影师
                        自娱自乐</p>
                    <div class="site-actions following" data-site-id="396821"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="959534">
                    <a href="https://tuchong.com/959534/" title="马大兴BossMa" rel="author" class="site-icon " data-site-id="959534" target="_blank"><img src="https://s1.tuchong.com/sites/959/959534/logo_small.jpg?1" alt="马大兴BossMa"></a>
                    <h4 class="name"><a class="site-anchor" title="马大兴BossMa" rel="author" href="https://tuchong.com/959534/" data-site-id="959534" target="_blank">马大兴BossMa</a></h4>
                    <span class="follower">
        3947关注者      </span>
                    <p class="desc">少女摄影  接拍写真/常州上海 约片微信：majingbossma 微博：马大兴BossMa</p>
                    <div class="site-actions following" data-site-id="959534"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="card" data-site-id="623">
                    <a href="https://landscape.tuchong.com/" title="风光摄影" rel="author" class="site-icon " data-site-id="623" target="_blank"><img src="https://s1.tuchong.com/sites/000/623/logo_small.jpg?2" alt="风光摄影"></a>
                    <h4 class="name"><a class="site-anchor" title="风光摄影" rel="author" href="https://landscape.tuchong.com/" data-site-id="623" target="_blank">风光摄影</a></h4>
                    <span class="follower">
        223254关注者      </span>
                    <p class="desc"></p>
                    <div class="site-actions following" data-site-id="623"><button type="button" class="btn btn-follow">
                        <span class="btn-text text-following">已关注</span>
                        <span class="btn-text text-unfollow">取消关注</span>
                        <span class="btn-text text-follow">关注</span>
                    </button></div>
                </div>
            </li>
        </ul>
        <div class="pagebar"></div>
    </main>
</div>
