{{#extend "style"}}
    <link rel="stylesheet" href="{{STATIC}}/pc/css/signin.css">
{{/extend}}
<div class="container">



    <form class="form-signin" method="post" action="/m/user/login">
        <div class="br"><a class="back" href="/m/user/login">后退</a></div>
        <div class="logo"></div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="手机号/邮箱" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="number" id="validCode" class="form-control" placeholder="验证码" required ><button>获取验证码</button>
        <label for="inputPassword" class="sr-only">Password</label>

        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="密码(请输入6位以上字符)" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
    </form>

</div> <!-- /container -->


{{#extend "script"}}

{{/extend}}

