{{#extend "style"}}
    <style>
        body {
            background: #fff;
        }
    </style>
{{/extend}}
<div class="header">
    <a href="">搜索</a>

    <div class="tab">
        <span class="active">关注</span>
        <span>精选</span>
    </div>
    <span>通知</span>
</div>
<div class="swiper">
    <img src="" alt=""/>
</div>
<div class="tj">
    <div class="man">
        <span class="guanzhu-btn">关注按钮</span>
        <img src="" alt="头像"/>

        <p>名字</p>

        <p>推荐关注</p>
        <img src="" alt="展示图"/>
    </div>
</div>
<div class="main">
    <div class="guangzhu">
        <div class="item">
            <div class="item-head">
                <img src="" alt="头像"/>

                <h3>名字</h3>
                <span>3分名</span>
                <span>0喜欢</span>
            </div>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
            <div class="sign">
                <span>关键字</span>
            </div>
            <div class="comments">
                评论
            </div>
        </div>
        <div class="item">
            <div class="item-head">
                <img src="" alt="头像"/>

                <h3>名字</h3>
                <span>3分名</span>
                <span>0喜欢</span>
            </div>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
            <div class="sign">
                <span>关键字</span>
            </div>
            <div class="comments">
                评论
            </div>
        </div>
        <div class="item">
            <div class="item-head">
                <img src="" alt="头像"/>

                <h3>名字</h3>
                <span>3分名</span>
                <span>0喜欢</span>
            </div>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
            <div class="sign">
                <span>关键字</span>
            </div>
            <div class="comments">
                评论
            </div>
        </div>
        <div class="item">
            <div class="item-head">
                <img src="" alt="头像"/>

                <h3>名字</h3>
                <span>3分名</span>
                <span>0喜欢</span>
            </div>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
            <div class="sign">
                <span>关键字</span>
            </div>
            <div class="comments">
                评论
            </div>
        </div>
        <div class="item">
            <div class="item-head">
                <img src="" alt="头像"/>

                <h3>名字</h3>
                <span>3分名</span>
                <span>0喜欢</span>
            </div>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
            <div class="sign">
                <span>关键字</span>
            </div>
            <div class="comments">
                评论
            </div>
        </div>
    </div>
    <div class="choice">
        <div class="man">
            <span class="guanzhu-btn">关注按钮</span>
            <img src="" alt="头像"/>

            <p>名字</p>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span>7喜欢</span>
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
        </div>
        <div class="man">
            <span class="guanzhu-btn">关注按钮</span>
            <img src="" alt="头像"/>

            <p>名字</p>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span>7喜欢</span>
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
        </div>
        <div class="man">
            <span class="guanzhu-btn">关注按钮</span>
            <img src="" alt="头像"/>

            <p>名字</p>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span>7喜欢</span>
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
        </div>
        <div class="man">
            <span class="guanzhu-btn">关注按钮</span>
            <img src="" alt="头像"/>

            <p>名字</p>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span>7喜欢</span>
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
        </div>
        <div class="man">
            <span class="guanzhu-btn">关注按钮</span>
            <img src="" alt="头像"/>

            <p>名字</p>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span>7喜欢</span>
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
        </div>
        <div class="man">
            <span class="guanzhu-btn">关注按钮</span>
            <img src="" alt="头像"/>

            <p>名字</p>
            <img src="" alt="展示图"/>

            <div class="meta">
                <span>7喜欢</span>
                <span class="share-btn">分享按钮</span>
                <span class="comments-btn">评论按钮</span>
                <span class="like-btn">喜欢按钮</span>
            </div>
        </div>

    </div>
</div>
{{>layout_m_footer}}

{{#extend "script"}}
{{/extend}}