{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}
{{>pc_notes_top}}
<div class="container container-default">

    <main role="main" class="col-main">
        <section class="with-bg">
            <p class="text-gray-placeholder">别人赞同你的评论时，会显示在这里。</p>
        </section>
    </main>
    <aside id="side" class="col-side">
    </aside>
</div>
