<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>会员列表</a></li>
        <li class=""><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>会员编缉</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>图片列表</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加图片</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li><a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>活动列表</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>活动详情</a></li>
    </ul>

</div>