{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_help_top}}

<div class="container container-default">

    <h1>玩转偶酷</h1>
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>怎样找到特定内容的图片？</h2>
            <p> 在网站工具栏（网页顶部）的搜索框中输入图片内容，点击放大镜图标进行搜索。请尽量用常用词。如果搜索不到，请更换近义词。</p>
        </section>
        <section class="with-bg inner">
            <h2>怎样让我的图片被更多地搜索到？</h2>
            <p>多添加标签，并且尽量准确。这有两方面好处：一是标签多的照片更容易被搜索到，二是加标签的动作使用户活跃度上升，在'''活跃用户'''排行榜上会比较容易被看到。更详细的加标签技巧请见下一条目。</p>
        </section>
        <section class="with-bg inner">
            <h2>怎样高效地加标签？</h2>
            <p>这是个具有多样性的问题。每个人都有自己加标签的方式。有的人是标签狂（比如<a href="https://schummiwong.tuchong.com/" target="_blank">贝贝</a>），有的人连点“添加标签”都不想点。以下以使照片更容易被检索和给数据库提供更多信息为出发点，提出一些个人经验。</p>
            <p>一张照片有多维的内容，最佳的标签配置应该体现出照片在每一维上的属性，并且相同的属性就要用相同的词，避免近义词分散搜中机会。以下列出照片的一些维度，和每一维度上建议的标签名称。真正使用的标签当然远远不止这些：</p>
            <ul class="ul-vt">
                <li>题材类型：风光、人像、人文、纪实（新闻）、体育、建筑、生态（自然）、静物、构成、舞台</li>
                <li>主题：每类题材中都有不同的主题。例如，人像：儿童；人文：藏区；体育：赛车等等等等。这个非常多样，建议用词直白准确，避免用引申或比喻义。</li>
                <li>主色：红色、橙色、黄色、绿色、蓝色、紫色、黑色、白色。主色是占据画面主要部分的颜色，或者是突出主题的颜色。</li>
                <li>副色：各种间色和纯度不同的颜色名称。</li>
                <li>天气状况（室外）/房间类型（室内）：晴、多云、阴、雨、雪、风、雷电、雾、霾、雹、霞……；夜景/影棚、居室、教室……</li>
                <li>视角和用光：远摄、中焦、标准、广角、鱼眼……；微距。平光、侧光、逆光……</li>
                <li>季节：春季、夏季、秋季、冬季，可以加初和末</li>
                <li>时刻：拂晓、早晨、上午、中午、下午、傍晚、黄昏、夜晚</li>
                <li>大地名：国外则精确到国家，国内则精确到省级</li>
                <li>小地名：国外精确到省级或著名地点，国内精确到市级</li>
                <li>土地利用类型和地貌：城市、乡村、野外；田野、草原、山峦、河流、湖泊、大海、森林、戈壁、沙漠、峡谷、洞穴、火山、苔原、极地、月球、火星……</li>
                <li>器材品牌。</li>
                <li>其他信息。</li>
            </ul>
        </section>
        <section class="with-bg inner">
            <h2 id="attention">如何受到关注？</h2>
            <h3>1、浏览推荐照片或热评照片</h3>
            <p>看看有没有你喜欢的，不要吝惜你的美誉，大多数人会礼貌的踩回来。</p>
            <h3>2、经常查看偶酷首页的“新留言和回复”，并及时回复</h3>
            <p>积极回应你的评论，慢慢的，你会跟与自己志趣相投的朋友熟悉起来。</p>
            <h3>3、关注你欣赏的影友</h3>
            <p>从“我的影友”可以方便的看到他们新上传、分享的照片，保持你们的密切交流和联络，形成自己的圈子。</p>
            <h3>4、邀请和你同样热爱摄影的朋友加入</h3>
            <p>并关注你的影友，扩大你的圈子和影响力。</p>
            <h3>5、经常上传新照片</h3>
            <p>保持你的曝光率，妥善经营发展好你的圈子，你会发现这里其乐无穷。</p>
        </section>
    </main>
</div>
