{{#extend "style"}}
    <link href="/pc/css/help.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}


<main>
    <div class="container">
        <div class="content">
            <p>
                <span>第一条 申请发布的活动涉及以下内容不予审核通过</span>
            </p>
            <p>
                <span>（一）活动文字或图片包含不宜传播的信息或违反国家相关法律法规的信息</span>
            </p>
            <p>
                <span>【错误内容举例】（包含但不限于举例内容，以下举例皆同）</span>
            </p>
            <p>
                <span>（1）人身攻击：如“大家发帮我骂xxxx，有机会获得xxxx”等；</span>
            </p>
            <p>
                <span>（2）活动侵权：如活动详情或奖品附带用户照片、身份证照、营业执照等；</span>
            </p>
            <p>
                <span>（3）侵犯隐私：如“说出你的地址/手机号码，即有机会获得xxxxx”等；</span>
            </p>
            <p>
                <span>（4）其他违规信息：淫秽色情、暴力、血腥、 违反国家法律法规及可能对网站运营带来潜在威胁的照片或图片。</span>
            </p>
            <p>
                <span>（二）活动奖品涉及股票、基金</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>例如活动奖品为“XXX基金”“XXX股票”等。</span>
            </p>
            <p>
                <span>（三）活动附带可能对网站运营带来潜在威胁的联系方式</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>例如活动图文携带其他竞争平台的二维码、数字号码、网链等。</span>
            </p>
            <p>
              <span>
                <br>
              </span>
            </p>
            <p>
                <span>（四）活动奖品过于含糊</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>例如某活动涉及奖品，奖品名称为提供工作职位、普工包安排机会等描述过于简单。</span>
            </p>
            <p>
                <span>（五）兑奖方式含糊不清</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>例如奖品为某景区门票，没写具体换领方式的。</span>
            </p>
            <p>
                <span>（六）奖品有效期过短</span>
            </p>
            <p>
                <span>（1）实体奖品使用或兑换有效期不得早于活动结束后7天；</span>
            </p>
            <p>
                <span>（2）虚拟奖品使用或兑换有效期不得早于活动结束后24小时。</span>
            </p>
            <p>
                <span>第二条 活动信息内存在矛盾内容，将导致审核不通过</span>
            </p>
            <p>
                <span>（一）活动描述与参与资格不符</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>自定义参与资格：如参与资格为“关注活动发起者并在站内@3个好友即可参加活动”，活动描述中还需关注其他账号、下载其他app注册等，均不得通过审核。</span>
            </p>
            <p>
                <span>（二）活动描述与奖品信息不符</span>
            </p>
            <p>
                <span>【错误内容举例】&nbsp;</span>
            </p>
            <p>
                <span>（1）图文不符：活动描述中说明奖品为iPhone，奖品项为iPad；</span>
            </p>
            <p>
                <span>（2）数图不符：活动描述中奖品为“10台iPhone”，奖品项数量为5台iPhone。</span>
            </p>
            <p>
                <span>（三）奖品信息（图片、名称、数量、类型、等级）不统一</span>
            </p>
            <p>
                <span>【错误内容举例】&nbsp;</span>
            </p>
            <p>
                <span>图文不符：如奖品名称为iPhone6，奖品图片为小米手机/iPhone5 ；</span>
            </p>
            <p>
                <span>数图不符：奖品数量为5台iPhone，奖品图片带文字“10台iPhone” ；</span>
            </p>
            <p>
                <span>名称歧义：如奖品名称为iPhone5-1，实际奖品为名称为“iPhone5-1”的机模；</span>
            </p>
            <p>
                <span>类型不符：如奖品名为“iPhone5兑换券”，奖品类型为“实物奖品” 。&nbsp;</span>
            </p>
            <p>
                <span>（四）活动类型错误</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>例如整体活动描述奖品均为免费试用，实际活动为付费。</span>
            </p>
            <p>
                <span>第三条 活动信息内存在不实或含糊内容，将导致审核不通过</span>
            </p>
            <p>
                <span>（一）奖品不存在</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>奖品名称描述为iPhone15。</span>
            </p>
            <p>
                <span>（二）奖品价值过高</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>奖品名称为iPhone5S，数量999。</span>
            </p>
            <p>
                <span>（三）整体活动图文不知所云</span>
            </p>
            <p>
                <span>【错误内容举例】</span>
            </p>
            <p>
                <span>奖品名称描述为“为答谢新老顾客，现在举行活动。”</span>
            </p>
            <p>
                <span>第四条 活动删除及修改标准</span>
            </p>
            <p>
                <span>（一）删除</span>
            </p>
            <p>
                <span>已通过审核到活动，参与人数＞0，不允许删除活动；</span>
            </p>
            <p>
                <span>暂无人参加的活动确定非恶意（重复、短期多次提交）提交删除请求后可以通过审核并予以删除。</span>
            </p>
            <p>
                <span>（二）修改</span>
            </p>
            <p>
                <span>同时满足以下两条，才予以通过；</span>
            </p>
            <p>
                <span>（1）活动修改后符合审核通过标准；</span>
            </p>
            <p>
                <span>（2）修改后活动内容与之前无太大差异。</span>
            </p>
        </div>
    </div>
</main>
