{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_help_top}}

<div class="container container-default">
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>偶酷是干什么的？</h2>
            <p>偶酷是一个由摄影爱好者创建的web2.0社区，是一个为摄影爱好者量身定做的个人影廊，是一条将摄影爱好者紧密联系在一起的纽带。</p>
        </section>

        <section class="with-bg inner">
            <h2>具体说说？</h2>
            <ul>
                <li>上传方式：偶酷真正允许<strong>批量上传</strong>图片，并且在上传第二张的时候可以编辑第一张的标题和说明。这就省去了您逐张上传的操作和每次重命名额外花费的时间，做到方便快捷，一键搞定。</li>
                <li>图片水平：如我们一再申明的，偶酷是摄影爱好者的乐园，比起一般网络相册，用户和作品平均水平都更胜一筹。在偶酷，您可以更容易找到更多好作品，您的作品也更容易被高水平的爱好者看到。</li>
                <li>展示质量：网上很多照片缩小显示的方式让人无法忍受：高宽比改变、锯齿遍地、细节丢失严重。在偶酷这一切问题永远不会出现。偶酷创立之初就坚持采用最优质的压缩锐化算法，尽可能多地保留原图细节。虽然偶酷公开展示的只是长边600像素的图，浏览感受仍然非同一般。在单张图片页面内，您可以看到图片的拍摄信息，标签、说明，还可以在同相册和同作者内快速跳转。另外在一切缩略视图下都可以进行灯箱（lightbox）浏览，配合上高质量的图片，您就可以方便地观赏到一场场各具特色的小型影展了。</li>
                <li>用户资源：与一般网络相册不同，偶酷<strong>鼓励大图</strong>：作品大小的<strong>下限</strong>是<strong>100万像素</strong>，上限则是<strong>20MB</strong>。普通用户的额度是每周<strong>20</strong>张，而通过审核的星级用户则是随着等级的上升而增加额度。所有这些措施都是为了一个目标：高质量的图片，从内容到形式。</li>
                <li>交流途径：比起一般的网络相册，偶酷的交流功能强大如论坛；而比起一般的摄影社区，讨论的组织性更强，和作品的结合也更为紧密。在作品里您可以对作品发表评论，添加标签，分享；在新鲜事里您可以把握好友们的最新动向；在话题里，您可以如在论坛一样发贴顶贴，并且可以将图博置于某一话题之下，更可以在贴中引用作品。图片和讨论在偶酷真正做到了无缝接合。</li>
            </ul>
        </section>

        <section class="with-bg inner">
            <h2>版权问题怎么办？</h2>
            <p>上传至偶酷的作品，其版权完全由上传者所有。偶酷只公开展示长边不超过600像素的缩小图，用户可以申请下载原图，决定权由原作者全权掌握。偶酷保留经过作者许可，为作者代售图片使用权的权利。更详细的内容请见偶酷的[[版权政策]]。</p>
        </section>
        <section class="with-bg inner">
            <h2>什么样的图片禁止上传？哪些图片得不到认证？</h2>
            <p>禁止上传以下三类图片：</p>
            <ul>
                <li>依据互联网管理条例不得传播的图片，包含非法内容和危及偶酷生存的图片，会引起他人不适或反感的图片，一经发现立即删除，并对上传帐号处以无限期封禁或以上的处罚。</li>
                <li>非摄影作品、屏幕截图（网页截图、游戏截图等），一经发现立即删除，并通过站内信对作者进行警告。屡教不改者，处以有限期封禁或以上的处罚。</li>
                <li>非原创作品，一经发现将立即删除，并通过站内信对作者进行警告。屡教不改者，处以有限期封禁。</li>
            </ul>

            <p>以下图片将不会被认证通过：</p>
            <ul>
                <li>没有exif信息的照片。</li>
                <li>艺术价值有欠缺的自拍、随拍、合影等,立意不佳的照片。</li>
                <li>有明显技术缺陷的照片，如无意义的模糊、失焦，构图、用光失败等</li>
            </ul>

            <p>编辑在拒绝这些图片时，将会附以简短的改进建议。</p>
        </section>
        <section class="with-bg inner">
            <h2>偶酷提倡什么样的行为？</h2>
            <ul>
                <li>偶酷大力提倡有助于发掘图片价值的一切行为，包括评论、打分、加标签和分享。</li>
                <li>偶酷大力提倡分享实用信息，如使用体会、工作流程、处理技巧、信息资料等。</li>
                <li>偶酷大力提倡对网站建设提出各种意见和建议。</li>
                <li>偶酷提倡为作品起一个恰当的标题并添加适当的说明。</li>
                <li>偶酷提倡围绕摄影进行言之有物的讨论。</li>
            </ul>
        </section>
        <section class="with-bg inner">
            <h2>偶酷反对什么样的行为？</h2>
            <ul>
                <li>任何违反法律和社会道德，危及他人人身安全和社会安定，危及网站生存的行为。一经发现，处以有限期封禁或以上的处罚。</li>
                <li>任何骚扰、谩骂、仿冒及恐吓他人的行为。一经发现即通过站内信进行警告，情节严重、不服警告者，处以有限期封禁或以上的处罚。</li>
                <li>偶酷不提倡漫无边际的版聊和口水仗。经发现情节严重者将被站内信警告，屡教不改者处以有限期封禁。</li>
            </ul>
        </section>
        <section class="with-bg inner">
            <h2>关于不合格图片举报</h2>
            <p>偶酷依靠广大用户对不合格内容进行控制。当用户发现一张图片应被举报时，可点击单张图片页面内的“举报这张图片”按钮进行举报。编辑随即会对被举报图片进行相应的处理。
                按照严重程度，以下情形应举报：</p>
            <ul>
                <li> 发现禁止上传的图片；</li>
                <li> 发现被认证图片明显不符合认证标准（一般为星级用户因疏忽上传）；</li>
            </ul>
            <p>举报每被证实一次，用户的活跃度+1。</p>
        </section>
        <section class="with-bg inner">
            <h2>标签和打分系统是怎样的？</h2>
            <p>每张照片都会附有一定数量的标签来标记作品内容。原作者和浏览者都可以添加标签。原作者标签显示了作者对一张照片内容的界定；浏览者可以新建标签和将已有标签数量加一，表明浏览者对作品内容的辨别。加标签会极大增进偶酷数据库对作品和用户的了解：通过标签及其数量的差异，可以比较精确地判断作品的内容；通过用户添加标签的种类和数量可以得知用户喜好，从而更有效地进行针对性分享。所以想让偶酷分享更多感兴趣内容的话，就勤加标签吧。</p>

            <p>用户可以为别人的作品打分，范围1～10分。作品分数在打分前是看不到的。通过打分，偶酷得以知道每一幅作品的水平，用户也可以检验自己的判断标准和大众看法有多符合。作品分数是偶酷筛选高质量作品的重要依据，同时也是用户行为的重要反映。</p>

            <p>通过认真加标签和打分，你会发现偶酷分享的图片越来越符合你的兴趣，水平也越来越高。这都是我们聪明的数据工程师努力的结果。</p>

        </section>
        <section class="with-bg inner">
            <h2>怎样找到特定内容的图片？</h2>
            <p>在网站工具栏（网页顶部）的搜索框中输入图片内容，点击放大镜图标进行搜索。请尽量用常用词。如果搜索不到，请更换近义词。</p>
        </section>
        <section class="with-bg inner">
            <h2> 怎样让我的图片被更多地搜索到？</h2>
            <p>多添加标签，并且尽量准确。这有两方面好处：一是标签多的照片更容易被搜索到，二是加标签的动作使用户活跃度上升，在<strong>活跃用户</strong>排行榜上会比较容易被看到。</p>
        </section>
    </main>
</div>
