{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_help_top}}

<div class="container container-default">

    <h1>关于作品</h1>
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>如何上传作品？</h2>
            <ol>
                <li>点击<strong>首页</strong>上的“上传作品”按钮或者<strong>网站导航栏</strong>内“我的”-&gt;“上传作品”链接，进入<strong>上传页面</strong>；</li>
                <li>选择相册。一张照片可以不添加到任何相册，也可以添加到多个相册。如果没有相册，可以在这里新建一个；</li>
                <li>选择照片。如果您安装了Adobe Flash Player，则默认选择为“批量模式”；如果没有，则为“传统模式”：<br>
                    在批量模式下，点击“选择多张照片”按钮，就可以直接选择多张照片上传。准备上传的图片名称会列表显示，状态显示为“等待上传”，可以删除。<br>
                    在传统模式下，点击“浏览”按钮，选择单张照片。若要上传多张，就重复操作。（按Ctrl键可以一次选多张吧？）
                </li>
                <li>照片选择完毕，点击“开始上传”按钮，照片开始依次上传。安装了Flash Player的用户可以看到进度条和实时传输速度，没有安装的只有等一张照片上传完毕才能显示，但两种模式的上传速度是一样的；</li>
                <li>在后续照片上传过程中，用户可以对已上传的照片加标题、描述和标签，也可以删除。</li>
                <li>全部照片上传完成后，点击“完成”按钮完成上传。</li>
            </ol>
        </section>
        <section class="with-bg inner">
            <h2>图片和用户认证</h2>
            <p>为了保证偶酷作品质量，我们对图片和用户实行认证制度。符合偶酷要求的图片会被认证，永远不会被删除；不符合的会被标记为“非认证”，不参与推荐，保留一个月以上。一个新用户是未经认证的，拥有每周20张的限额，上传作品默认状态为“未经认证”。偶酷的编辑会及时评判新账户的作品，认证其中符合要求的图片。一旦一个新用户被认证的作品达到5幅，该用户就自动升级为星级用户，星级用户的额度随着等级的上升而增加。星级用户上传作品默认状态为“已认证”，表明用户已经熟悉偶酷的要求，能够正确使用偶酷了。对于星级用户作品质量的监测，通过编辑随机抽样和用户举报实现。如果一个星级用户上传了不符合要求的图片，编辑仍会将此图片标记为“非认证”。详细的认证标准见<a href="https://tuchong.com/help/user/">用户操作守则</a>。</p>
        </section>
        <section class="with-bg inner">
            <h2>偶酷认证标准是怎样的/偶酷欢迎什么样的照片？</h2>
            <p>偶酷欢迎爱好者具有艺术或商业价值的<strong>原创摄影作品</strong>，题材可以是风光、人像、纪实、旅行、生态、体育、建筑、构成等。暂时谢绝人体作品。</p>

            <p>在上传作品之前，我们希望作者能再检查一遍自己的作品（如果没有的话），问自己以下几个问题：</p>
            <ul>
                <li>这张照片的主题是什么？</li>
                <li>这张照片技术上的特点是什么？</li>
                <li>这张照片是否具有艺术价值或商业价值？</li>
            </ul>
            <p>如果能明确回答这三个问题，作品就会是出类拔萃的，就是偶酷所欢迎的。</p>
            <p>以下是偶酷欢迎的图片范例：</p>
            <ul>
                <li><img src="https://static.tuchong.net/images/Q01.jpg" alt=""></li>

                <li><img src="https://static.tuchong.net/images/Q02.jpg" alt=""></li>

                <li><img src="https://static.tuchong.net/images/Q03.jpg" alt=""></li>

                <li><img src="https://static.tuchong.net/images/Q04.jpg" alt=""></li>

                <li><img src="https://static.tuchong.net/images/Q05.jpg" alt=""></li>

                <li><img src="https://static.tuchong.net/images/Q06.jpg" alt=""></li>

                <li><img src="https://static.tuchong.net/images/Q07.jpg" alt=""></li>
            </ul>
        </section>
        <section class="with-bg inner">
            <h2>什么样的图片禁止上传？哪些图片得不到认证？</h2>
            <p>禁止上传以下三类图片：</p>
            <ul>
                <li>依据互联网管理条例不得传播的图片，包含非法内容和危及偶酷生存的图片，会引起他人不适或反感的图片，一经发现立即删除，并对上传帐号处以无限期封禁或以上的处罚。</li>
                <li>非摄影作品、屏幕截图（网页截图、游戏截图等），一经发现立即删除，并通过站内信对作者进行警告。屡教不改者，处以有限期封禁或以上的处罚。</li>
                <li>非原创作品，一经发现将立即删除，并通过站内信对作者进行警告。屡教不改者，处以有限期封禁。</li>
            </ul>

            <p>以下图片将不会被认证通过：</p>
            <ul>
                <li>没有exif信息的照片。</li>
                <li>艺术价值有欠缺的自拍、随拍、合影等,立意不佳的照片。</li>
                <li>有明显技术缺陷的照片，如无意义的模糊、失焦，构图、用光失败等</li>
            </ul>

            <p>编辑在拒绝这些图片时，将会附以简短的问题分析。</p>

            <p>以下是典型的非认证图片：</p>
            <p>艺术价值欠缺，拍摄过于随意</p>
            <p><img src="https://static.tuchong.net/images/D01.jpg"></p>

            <p>抖晃造成模糊</p>
            <p><img src="https://static.tuchong.net/images/D02.jpg"></p>

            <p>主体曝光失误</p>
            <p><img src="https://static.tuchong.net/images/D03.jpg"></p>
        </section>
        <section class="with-bg inner">
            <h2> 对自己的作品可以做什么？</h2>
            <ul>
                <li>删除：在个人主页和作品页面，当视图为中视图和大视图时，点击作品下方的“删除”链接，经过确认后即可删除该作品；在单张照片页面，点击作品左上方的“删除”链接，经过确认后即可删除该作品。</li>
                <li>更改名称：直接在作品名称上点击即可更改作品名称。</li>
                <li>更改描述：直接在作品描述上点击即可更改作品描述。</li>
                <li>添加标签：点击照片下方的“添加标签”按钮即可添加标签，以空格分隔。添加标签时会列出自己和偶酷用户常用的标签，点击合适的即可快速加注。原作者标签显示了作者对一张照片内容的界定，偶酷鼓励给作品添加标签。</li>
                <li>在图博中引用：在图博中可以引用一张照片，也可以从图博里对这张照片进行评论。</li>
            </ul>
        </section>
        <section class="with-bg inner">
            <h2> 对别人的作品可以做什么？</h2>
            <p>在单张照片页面内，可以：</p>
            <ul>
                <li> 添加标签：如果认同现有标签的描述，点击标签即可；如果要增加新标签，点击“添加标签”按钮，就可以为别人的作品添加标签了。</li>
                <li> 打分：照片上方有十个星标，鼠标移上即可打分。打分时右侧有各分数的大致描述，选择跟你想法最接近的一种。打完分后可以看到本张照片的加权平均分。</li>
                <li> 如果喜欢这张照片，点击照片右上的“推荐”按钮即弹出推荐界面，选择收藏夹后点击“保存”即可推荐。在此界面中还可以给照片打分、加标签。</li>
                <li> 如果发现了一张不应上传的图片，或者不符合偶酷要求的作品被认证通过（一般为星级用户因疏忽上传），可以点击“举报这张照片”链接，进行举报，编辑随即会对被举报图片进行相应的处理。</li>
            </ul>
        </section>
        <section class="with-bg inner">
            <h2>标签和打分的作用是什么？</h2>
            <ol>
                <li> 加标签会极大增进偶酷数据库对作品和用户的了解：通过标签及其数量的差异，可以比较精确地判断作品的内容；通过用户添加标签的种类和数量可以得知用户喜好，从而更有效地进行针对性推荐。所以想让偶酷推荐更多感兴趣内容的话，就勤加标签吧。</li>
                <li> 通过打分，偶酷得以知道每一幅作品的水平，用户也可以检验自己的判断标准和大众看法有多符合。作品分数是偶酷筛选高质量作品的重要依据，同时也是用户行为的重要反映。通过认真加标签和打分，你会发现偶酷推荐的图片越来越符合你的兴趣，水平也越来越高。这都是我们聪明的数据工程师努力的结果。</li>
            </ol>
        </section>
        <section class="with-bg inner">
            <h2>上传图片的版权归属？</h2>
            <p>上传至偶酷的作品，其版权完全由上传者所有。偶酷只公开展示长边不超过600像素的缩小图，用户可以申请下载原图，决定权由原作者全权掌握。偶酷保留经过作者许可，为作者代售图片使用权的权利。更详细的内容请见偶酷的<a href="https://tuchong.com/info/copyright/">版权政策</a>。</p>
        </section>
    </main>
</div>
