{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}

{{>pc_help_top}}

<div class="container container-default">
    <h1>星级用户</h1>
    <main role="main" class="col-main">
        <section class="with-bg inner">
            <h2>如何成为星级用户</h2>
            <ul class="ul-vt">
                <li>新用户刚注册时身份为未认证，上传作品的默认状态也为“未认证”。</li>
                <li>偶酷的编辑会及时审核你新上传的作品，一旦你<strong>有5幅作品通过认证</strong>，就自动升级为星级用户，表明你已经熟悉偶酷的要求，偶酷欢迎你。</li>
            </ul>
        </section>
        <section class="with-bg inner">
            <h2>星级用户拥有什么特权</h2>
            <ol>
                <li>星级用户上传作品的默认状态为“已认证”。不过如果你上传了不符合要求的图片，编辑仍会将此图片标记为“非认证”；</li>
                <li>星级用户随着等级的上升，每周上传图片的额度逐渐提高。</li>
                <li>星级用户可以申请免费二级域名，例如：yourname.tuchong.com</li>
                <li>星级用户可以发起话题。</li>
            </ol>
        </section>
        <section class="with-bg inner">
            <h2>偶酷提倡什么样的行为？</h2>
            <ol>
                <li>偶酷大力提倡有助于发掘图片价值的一切行为，包括加标签、评论、打分和分享；</li>
                <li>偶酷大力提倡分享实用信息，如使用体会、工作流程、处理技巧、信息资料等；</li>
                <li>偶酷大力提倡对网站建设提出各种意见和建议；</li>
                <li>偶酷提倡为作品起一个恰当的标题并添加适当的说明；</li>
                <li>偶酷提倡围绕摄影进行言之有物的讨论；</li>
            </ol>
        </section>
        <section class="with-bg inner">
            <h2>偶酷反对什么样的行为？</h2>
            <ol>
                <li>任何违反法律和社会道德，危及他人人身安全和社会安定，危及网站生存的行为。一经发现，处以有限期封禁或以上的处罚。</li>
                <li>任何骚扰、谩骂、仿冒及恐吓他人的行为。一经发现即通过站内信进行警告，情节严重、不服警告者，处以有限期封禁或以上的处罚。</li>
                <li>偶酷不提倡漫无边际的版聊和口水仗。情节严重者将被站内信警告，屡教不改者处以有限期封禁。</li>
            </ol>
        </section>
        <section class="with-bg inner">
            <h2>关注和加入小组有什么限制？</h2>
            <ol>
                <li>每个用户最多关注1000个影友</li>
                <li>每个用户最多加入50个小组</li>
            </ol>
        </section>
    </main>
</div>
